Repository surfstudio/SurfGear: changes, and which Codecov flags are due for each by the changed paths.
All: auto_reload, bottom_sheet, datalist, ink_widget, mwwm, otp_autofill, relation, render_metrics, surf_logger, surf_utils

codecov.yml:

coverage:
  precision: 2
  round: nearest
  status:
    project:
      default: off
      auto_reload:
        flags: auto_reload
      bottom_sheet:
        flags: bottom_sheet
      datalist:
        flags: datalist
      ink_widget:
        flags: ink_widget
      mwwm:
        flags: mwwm
      otp_autofill:
        flags: otp_autofill
      relation:
        flags: relation
      render_metrics:
        flags: render_metrics
      surf_logger:
        flags: surf_logger
      surf_utils:
        flags: surf_utils

flags:
  auto_reload:
    paths:
      - packages/auto_reload/
    carryforward: true
  bottom_sheet:
    paths:
      - packages/bottom_sheet/
    carryforward: true
  datalist:
    paths:
      - packages/datalist/
    carryforward: true
  ink_widget:
    paths:
      - packages/ink_widget/
    carryforward: true
  mwwm:
    paths:
      - packages/mwwm/
    carryforward: true
  otp_autofill:
    paths:
      - packages/otp_autofill/
    carryforward: true
  relation:
    paths:
      - packages/relation/
    carryforward: true
  render_metrics:
    paths:
      - packages/render_metrics/
    carryforward: true
  surf_logger:
    paths:
      - packages/surf_logger/
    carryforward: true
  surf_utils:
    paths:
      - packages/surf_utils/
    carryforward: true

* rm odd if else in builders order * update docs * add builders order test
  packages/relation/lib/src/builder/entity_state_builder.dart
  packages/relation/test/action/builder/entity_state_builder_test.dart
Due: relation

revert acceptUnique
  packages/relation/CHANGELOG.md
  packages/relation/lib/src/relation/state/streamed_state.dart
  packages/relation/test/action/states/streamed_state_test.dart
Due: relation

Relation improvements (#187)
  packages/relation/CHANGELOG.md
  packages/relation/example/lib/demo_relations.dart
  packages/relation/lib/src/builder/entity_state_builder.dart
  packages/relation/lib/src/relation/state/entity_state.dart
  packages/relation/lib/src/relation/state/exception_wrapper.dart
  packages/relation/pubspec.yaml
  packages/relation/test/action/builder/entity_state_builder_test.dart
  packages/relation/test/action/states/entity_streamed_state_test.dart
Due: relation

chore: groom linter rules set
  packages/surf_lint_rules/lib/analysis_options.yaml
Due: none

StreamedState scheme in Relation readme
  packages/relation/doc/images/relation_streamed_state.png
Due: relation

Render Metrics images in Render Metrics readme
  packages/render_metrics/README.md
  packages/render_metrics/docs/images/render_data_1.png
  packages/render_metrics/docs/images/render_data_2.png
  packages/render_metrics/docs/images/render_diff.png
Due: render_metrics

Add Warning to the Relation readme
  packages/relation/README.md
  packages/relation/example/lib/demo_relations.dart
Due: relation

State Management Scheme in Relation readme
  packages/relation/doc/images/relation_state_management.png
Due: relation

Extra states description in Relation readme
  packages/relation/README.md
Due: relation

добавил бейджы
  packages/relation/README.md
Due: relation

add new README.md
  packages/push_notification/example/ios/Flutter/.last_build_id
  packages/relation/README.md
Due: relation

StreamStateBuilder scheme in Relation readme
  packages/relation/doc/images/relation_streamed_state_builder.png
Due: relation

Action scheme in Relation readme
  packages/relation/doc/images/relation_action.png
Due: relation

add new README.md
  packages/relation/README.md
Due: relation

Update README.md
  packages/relation/README.md
Due: relation

add new README.md
  packages/relation/README.md
  packages/relation/example/lib/demo_relations.dart
Due: relation

Relation link in MWWM readme
  packages/mwwm/README.md
Due: mwwm

Text corrections in Relation readme
  packages/relation/README.md
Due: relation

Currentlty supported features in Relation readme
  packages/relation/README.md
Due: relation

update example
  packages/relation/example/lib/demo_relations.dart
Due: relation

поправил ссылку
  packages/relation/README.md
Due: relation

update readme
  packages/relation/README.md
Due: relation

build: switch on subosito/flutter-action from selfmade docker container
  .github/workflows/auto_reload.yaml
  .github/workflows/bottom_navigation_bar.yaml
  .github/workflows/bottom_sheet.yaml
  .github/workflows/in_app_rate.yaml
  .github/workflows/ink_widget.yaml
  .github/workflows/keyboard_listener.yaml
  .github/workflows/mwwm.yaml
  .github/workflows/otp_autofill.yaml
  .github/workflows/relation.yaml
  .github/workflows/render_metrics.yaml
  .github/workflows/surf_controllers.yaml
  .github/workflows/surf_lint_rules.yaml
  .github/workflows/surf_mwwm.yaml
  .github/workflows/surf_util.yaml
  .github/workflows/swipe_refresh.yaml
  .github/workflows/tabnavigator.yaml
  .github/workflows/virtual_keyboard.yaml
Due: none

chore: update cSpell custom words dictionary
  .vscode/settings.json
Due: none

add lcov
  .github/workflows/auto_reload.yaml
  .github/workflows/bottom_navigation_bar.yaml
  .github/workflows/bottom_sheet.yaml
  .github/workflows/ink_widget.yaml
  .github/workflows/mwwm.yaml
  .github/workflows/otp_autofill.yaml
  .github/workflows/relation.yaml
  .github/workflows/render_metrics.yaml
  .github/workflows/surf_mwwm.yaml
  .github/workflows/surf_util.yaml
  .github/workflows/swipe_refresh.yaml
  .github/workflows/tabnavigator.yaml
Due: none

lcov2
  .github/workflows/auto_reload.yaml
  .github/workflows/bottom_navigation_bar.yaml
  .github/workflows/bottom_sheet.yaml
  .github/workflows/ink_widget.yaml
  .github/workflows/mwwm.yaml
  .github/workflows/otp_autofill.yaml
  .github/workflows/relation.yaml
  .github/workflows/render_metrics.yaml
  .github/workflows/surf_mwwm.yaml
  .github/workflows/surf_util.yaml
  .github/workflows/swipe_refresh.yaml
  .github/workflows/tabnavigator.yaml
Due: none

lcov
  .github/workflows/render_metrics.yaml
Due: none

test
  .github/workflows/render_metrics.yaml
Due: none

remove sudo
  .github/workflows/render_metrics.yaml
Due: none

так поставится, базарю (c) Денис
  .github/workflows/render_metrics.yaml
Due: none

apt-get
  .github/workflows/render_metrics.yaml
Due: none

reorder
  .github/workflows/render_metrics.yaml
Due: none

lcov 2.0
  .github/workflows/auto_reload.yaml
  .github/workflows/bottom_navigation_bar.yaml
  .github/workflows/bottom_sheet.yaml
  .github/workflows/ink_widget.yaml
  .github/workflows/mwwm.yaml
  .github/workflows/otp_autofill.yaml
  .github/workflows/relation.yaml
  .github/workflows/surf_mwwm.yaml
  .github/workflows/surf_util.yaml
  .github/workflows/swipe_refresh.yaml
  .github/workflows/tabnavigator.yaml
Due: none

Switch on subosito action (#190)
  .github/workflows/auto_reload.yaml
  .github/workflows/bottom_navigation_bar.yaml
  .github/workflows/bottom_sheet.yaml
  .github/workflows/in_app_rate.yaml
  .github/workflows/ink_widget.yaml
  .github/workflows/keyboard_listener.yaml
  .github/workflows/mwwm.yaml
  .github/workflows/otp_autofill.yaml
  .github/workflows/relation.yaml
  .github/workflows/render_metrics.yaml
  .github/workflows/surf_controllers.yaml
  .github/workflows/surf_lint_rules.yaml
  .github/workflows/surf_mwwm.yaml
  .github/workflows/surf_util.yaml
  .github/workflows/swipe_refresh.yaml
  .github/workflows/tabnavigator.yaml
  .github/workflows/virtual_keyboard.yaml
  .vscode/settings.json
Due: none

add acceptUnique
  packages/relation/CHANGELOG.md
  packages/relation/lib/src/relation/state/streamed_state.dart
  packages/relation/pubspec.yaml
  packages/relation/test/action/states/streamed_state_test.dart
Due: relation

update action
  packages/relation/lib/src/relation/action/action.dart
  packages/relation/lib/src/relation/action/actions/scroll_action.dart
  packages/relation/lib/src/relation/action/actions/text_editing_action.dart
  packages/relation/test/action/action_test.dart
  packages/relation/test/action/actions/text_editing_action_test.dart
Due: relation

fix type
  packages/relation/lib/src/relation/action/action.dart
Due: relation
