Repository surfstudio/SurfGear: changes, and which Codecov flags are due for each by the changed paths.
All: analytics, auto_reload, bottom_navigation_bar, bottom_sheet, datalist, ink_widget, mwwm, otp_autofill, push_notification, relation, render_metrics, surf_logger, surf_mwwm, surf_utils, swipe_refresh, tabnavigator

errors to snackbar
  examples/weather/lib/error_handlers/app_error_handler.dart
  examples/weather/lib/modules/weather/ui/screens/weather_screen/weather_screen_wm.dart
Due: none

error handlers fixed
  examples/weather/lib/error_handlers/app_error_handler.dart
  examples/weather/lib/error_handlers/exceptions.dart
  examples/weather/lib/modules/news/ui/screens/news_screen/news_screen.dart
  examples/weather/lib/modules/news/ui/screens/news_screen/news_screen_wm.dart
  examples/weather/lib/modules/weather/repository/weather_repository.dart
  examples/weather/lib/modules/weather/ui/screens/weather_screen/weather_screen.dart
  examples/weather/lib/modules/weather/ui/screens/weather_screen/weather_screen_wm.dart
Due: none

fixes from PR
  examples/weather/lib/config/constants.dart
  examples/weather/lib/domain/city_model.dart
  examples/weather/lib/error_handlers/app_error_handler.dart
  examples/weather/lib/modules/weather/models/main_info.dart
  examples/weather/lib/modules/weather/models/weather.dart
  examples/weather/lib/modules/weather/models/weather_info.dart
  examples/weather/lib/modules/weather/models/wind_info.dart
  examples/weather/lib/modules/weather/repository/weather_repository.dart
  examples/weather/lib/modules/weather/services/find_lication.dart
  examples/weather/lib/modules/weather/ui/decorations/input_text_decoration.dart
  examples/weather/lib/modules/weather/ui/decorations/shadows.dart
  examples/weather/lib/modules/weather/ui/res/assets.dart
  examples/weather/lib/modules/weather/ui/res/text_styles.dart
  examples/weather/lib/modules/weather/ui/screens/app/weather_app_dependencies.dart
  examples/weather/lib/modules/weather/ui/screens/weather_screen/weather_screen.dart
  examples/weather/lib/modules/weather/ui/screens/weather_screen/widgets/wather_view_error.dart
  examples/weather/lib/modules/weather/ui/screens/weather_screen/widgets/weather_view_loading.dart
  examples/weather/lib/modules/weather/ui/screens/weather_screen/widgets/weather_view_ok.dart
Due: none

Example weather (#306)
  examples/weather/assets/images/broken_clouds.jpg
  examples/weather/assets/images/clear_sky.jpg
  examples/weather/assets/images/clouds.jpg
  examples/weather/assets/images/clouds1.jpg
  examples/weather/assets/images/few_clouds.jpg
  examples/weather/assets/images/mist.jpg
  examples/weather/assets/images/rain.jpg
  examples/weather/assets/images/scattered_clouds.jpg
  examples/weather/assets/images/shower_rain.jpg
  examples/weather/assets/images/snow.jpg
  examples/weather/assets/images/thunderstorm.jpg
  examples/weather/lib/domain/city_model.dart
  examples/weather/lib/modules/app/app.dart
  examples/weather/lib/modules/weather/config/url_config.dart
  examples/weather/lib/modules/weather/models/main_info.dart
  examples/weather/lib/modules/weather/models/main_info.g.dart
  examples/weather/lib/modules/weather/models/weather_info.dart
  examples/weather/lib/modules/weather/models/weather_info.g.dart
  examples/weather/lib/modules/weather/models/weather_model.dart
  examples/weather/lib/modules/weather/models/weather_model.g.dart
  examples/weather/lib/modules/weather/models/wind_info.dart
  examples/weather/lib/modules/weather/models/wind_info.g.dart
  examples/weather/lib/modules/weather/repository/weather_api_client.dart
  examples/weather/lib/modules/weather/repository/weather_repository.dart
  examples/weather/lib/modules/weather/screens/weather_screen/weather_screen.dart
  examples/weather/lib/modules/weather/screens/weather_screen/weather_screen_wm.dart
  examples/weather/lib/modules/weather/services/weather_interactor.dart
  examples/weather/lib/modules/weather/services/weather_repository.dart
  examples/weather/lib/modules/weather/ui/decorations/input_text_decoration.dart
  examples/weather/lib/modules/weather/ui/decorations/shadows.dart
  examples/weather/lib/modules/weather/ui/res/assets.dart
  examples/weather/lib/modules/weather/ui/res/text_styles.dart
  examples/weather/lib/modules/weather/ui/res/ui_constants.dart
  examples/weather/lib/modules/weather/ui/screens/app/weather_app.dart
  examples/weather/lib/modules/weather/ui/screens/app/weather_app_dependencies.dart
  examples/weather/lib/modules/weather/ui/screens/weather_screen/weather_screen.dart
  examples/weather/lib/modules/weather/ui/screens/weather_screen/weather_screen_wm.dart
  examples/weather/pubspec.yaml
Due: none

fixes by PR finished
  examples/weather/lib/error_handlers/app_error_handler.dart
  examples/weather/lib/error_handlers/exceptions.dart
  examples/weather/lib/modules/weather/services/find_lication.dart
  examples/weather/lib/modules/weather/ui/screens/weather_screen/weather_screen.dart
  examples/weather/lib/modules/weather/ui/screens/weather_screen/weather_screen_wm.dart
  examples/weather/lib/modules/weather/ui/screens/weather_screen/widgets/search_bar.dart
  examples/weather/lib/modules/weather/ui/screens/weather_screen/widgets/weather_view_loading.dart
Due: none

news model serialization, config, api client'
  examples/weather/lib/modules/news/config/news_repository.dart
  examples/weather/lib/modules/news/config/news_url_config.dart
  examples/weather/lib/modules/news/models/news.dart
  examples/weather/lib/modules/news/models/news.g.dart
  examples/weather/lib/modules/news/models/news_data.dart
  examples/weather/lib/modules/news/models/news_data.g.dart
  examples/weather/lib/modules/news/models/pagination.dart
  examples/weather/lib/modules/news/models/pagination.g.dart
  examples/weather/lib/modules/news/repository/news_api_client.dart
  examples/weather/lib/modules/news/screens/news_screen/news_screen_wm.dart
  examples/weather/lib/modules/news/ui/screens/app/news_app.dart
  examples/weather/lib/modules/news/ui/screens/app/news_app_dependencies.dart
Due: none

news service layer and models finished
  examples/weather/lib/modules/news/config/news_repository.dart
  examples/weather/lib/modules/news/repository/news_repository.dart
  examples/weather/lib/modules/news/services/news_intearctor.dart
  examples/weather/lib/modules/news/services/news_repository.dart
  examples/weather/lib/modules/news/ui/screens/app/news_app.dart
  examples/weather/lib/modules/news/ui/screens/app/news_app_dependencies.dart
  examples/weather/lib/modules/news/ui/screens/news_screen/news_screen_wm.dart
  examples/weather/lib/modules/weather/ui/screens/weather_screen/weather_screen.dart
  examples/weather/lib/modules/weather/ui/screens/weather_screen/weather_screen_wm.dart
Due: none

news service layer working
  examples/weather/lib/modules/news/ui/screens/app/news_screen_route.dart
  examples/weather/lib/modules/news/ui/screens/news_screen/news_screen.dart
  examples/weather/lib/modules/news/ui/screens/news_screen/news_screen_wm.dart
  examples/weather/lib/modules/weather/ui/screens/weather_screen/weather_screen.dart
  examples/weather/lib/modules/weather/ui/screens/weather_screen/weather_screen_wm.dart
Due: none

layout added
  examples/weather/lib/modules/app/app.dart
  examples/weather/lib/modules/news/ui/screens/news_screen/news_screen.dart
  examples/weather/lib/modules/news/ui/screens/news_screen/news_screen_wm.dart
  examples/weather/lib/modules/news/ui/screens/news_screen/widgets/news_card.dart
  examples/weather/lib/modules/weather/ui/res/ui_constants.dart
Due: none

app storage
  examples/weather/lib/domain/city_model.dart
  examples/weather/lib/modules/app/services/app_dependencies.dart
  examples/weather/lib/modules/app/services/app_storage_interactor.dart
  examples/weather/lib/modules/app/services/app_storage_repository.dart
  examples/weather/lib/modules/news/ui/screens/news_screen/news_screen.dart
  examples/weather/lib/modules/news/ui/screens/news_screen/news_screen_wm.dart
  examples/weather/lib/modules/weather/ui/screens/weather_screen/weather_screen.dart
  examples/weather/lib/modules/weather/ui/screens/weather_screen/weather_screen_wm.dart
Due: none

Spo 6950 weather logic (#310)
  examples/weather/android/app/src/main/AndroidManifest.xml
  examples/weather/assets/images/clear.jpg
  examples/weather/lib/config/constants.dart
  examples/weather/lib/domain/city_model.dart
  examples/weather/lib/error_handlers/app_error_handler.dart
  examples/weather/lib/error_handlers/exceptions.dart
  examples/weather/lib/modules/news/ui/screens/news_screen/news_screen.dart
  examples/weather/lib/modules/news/ui/screens/news_screen/news_screen_wm.dart
  examples/weather/lib/modules/weather/models/main_info.dart
  examples/weather/lib/modules/weather/models/weather.dart
  examples/weather/lib/modules/weather/models/weather.g.dart
  examples/weather/lib/modules/weather/models/weather_info.dart
  examples/weather/lib/modules/weather/models/wind_info.dart
  examples/weather/lib/modules/weather/repository/weather_repository.dart
  examples/weather/lib/modules/weather/services/find_lication.dart
  examples/weather/lib/modules/weather/services/weather_interactor.dart
  examples/weather/lib/modules/weather/ui/decorations/input_text_decoration.dart
  examples/weather/lib/modules/weather/ui/decorations/shadows.dart
  examples/weather/lib/modules/weather/ui/res/assets.dart
  examples/weather/lib/modules/weather/ui/res/text_styles.dart
  examples/weather/lib/modules/weather/ui/screens/app/weather_app_dependencies.dart
  examples/weather/lib/modules/weather/ui/screens/weather_screen/weather_screen.dart
  examples/weather/lib/modules/weather/ui/screens/weather_screen/weather_screen_wm.dart
  examples/weather/lib/modules/weather/ui/screens/weather_screen/widgets/search_bar.dart
  examples/weather/lib/modules/weather/ui/screens/weather_screen/widgets/wather_view_error.dart
  examples/weather/lib/modules/weather/ui/screens/weather_screen/widgets/weather_view_loading.dart
  examples/weather/lib/modules/weather/ui/screens/weather_screen/widgets/weather_view_ok.dart
  examples/weather/pubspec.yaml
Due: none

fixes
  examples/weather/lib/modules/weather/models/weather_model.g.dart
Due: none

unit test
  examples/weather/lib/modules/weather/repository/weather_repository.dart
  examples/weather/lib/modules/weather/ui/screens/weather_screen/weather_screen_wm.dart
  examples/weather/pubspec.yaml
  examples/weather/test/modules/weather/repository/weather_repository_test.dart
Due: none

unit test on weather API calls
  examples/weather/test/modules/weather/repository/weather_repository_test.dart
Due: none

widget test for WeatherViewOK
  examples/weather/assets/fonts/Anton-Regular.ttf
  examples/weather/assets/fonts/Roboto-Regular.ttf
  examples/weather/lib/modules/weather/ui/res/text_styles.dart
  examples/weather/pubspec.yaml
  examples/weather/test/modules/weather/ui/screens/weather_screen/widgets/weather_view_ok_test.dart
Due: none

golden test for weather_view_error made
  examples/weather/test/goldens/weather/weather_screen/weather_screen_golden_wrapper.dart
  examples/weather/test/goldens/weather/weather_screen/widgets/goldens/toolkit_app_test.custom 1.png
  examples/weather/test/goldens/weather/weather_screen/widgets/goldens/toolkit_app_test.iphone11.png
  examples/weather/test/goldens/weather/weather_screen/widgets/goldens/toolkit_app_test.phone.png
  examples/weather/test/goldens/weather/weather_screen/widgets/goldens/toolkit_app_test.tablet_portrait.png
  examples/weather/test/goldens/weather/weather_screen/widgets/weather_view_error_test.dart
  examples/weather/test/modules/weather/ui/screens/weather_screen/widgets/weather_view_ok_test.dart
Due: none

golden test
  examples/weather/test/goldens/weather/weather_screen/weather_screen_golden_wrapper.dart
  examples/weather/test/goldens/weather/weather_screen/widgets/goldens/toolkit_app_test.custom 1.png
  examples/weather/test/goldens/weather/weather_screen/widgets/goldens/toolkit_app_test.iphone11.png
  examples/weather/test/goldens/weather/weather_screen/widgets/goldens/toolkit_app_test.phone.png
  examples/weather/test/goldens/weather/weather_screen/widgets/goldens/toolkit_app_test.tablet_portrait.png
  examples/weather/test/goldens/weather/weather_screen/widgets/search_bar/goldens/toolkit_app_test.custom_400x900.png
  examples/weather/test/goldens/weather/weather_screen/widgets/search_bar/goldens/toolkit_app_test.custom_800x600.png
  examples/weather/test/goldens/weather/weather_screen/widgets/search_bar/goldens/toolkit_app_test.iphone11.png
  examples/weather/test/goldens/weather/weather_screen/widgets/search_bar/goldens/toolkit_app_test.phone.png
  examples/weather/test/goldens/weather/weather_screen/widgets/search_bar/goldens/toolkit_app_test.tablet_portrait.png
  examples/weather/test/goldens/weather/weather_screen/widgets/search_bar/search_bar_test.dart
  examples/weather/test/goldens/weather/weather_screen/widgets/weather_view_error/goldens/toolkit_app_test.custom 1.png
  examples/weather/test/goldens/weather/weather_screen/widgets/weather_view_error/goldens/toolkit_app_test.custom_400x900.png
  examples/weather/test/goldens/weather/weather_screen/widgets/weather_view_error/goldens/toolkit_app_test.custom_800x600.png
  examples/weather/test/goldens/weather/weather_screen/widgets/weather_view_error/goldens/toolkit_app_test.iphone11.png
  examples/weather/test/goldens/weather/weather_screen/widgets/weather_view_error/goldens/toolkit_app_test.phone.png
  examples/weather/test/goldens/weather/weather_screen/widgets/weather_view_error/goldens/toolkit_app_test.tablet_portrait.png
  examples/weather/test/goldens/weather/weather_screen/widgets/weather_view_error/weather_view_error_test.dart
  examples/weather/test/goldens/weather/weather_screen/widgets/weather_view_ok/goldens/toolkit_app_test.custom_400x900.png
  examples/weather/test/goldens/weather/weather_screen/widgets/weather_view_ok/goldens/toolkit_app_test.custom_800x600.png
  examples/weather/test/goldens/weather/weather_screen/widgets/weather_view_ok/goldens/toolkit_app_test.iphone11.png
  examples/weather/test/goldens/weather/weather_screen/widgets/weather_view_ok/goldens/toolkit_app_test.phone.png
  examples/weather/test/goldens/weather/weather_screen/widgets/weather_view_ok/goldens/toolkit_app_test.tablet_portrait.png
  examples/weather/test/goldens/weather/weather_screen/widgets/weather_view_ok/weather_view_ok_test.dart
  examples/weather/test/modules/weather/repository/weather_repository_test.dart
Due: none

SPO-7612 поправлен гланый экран
  examples/my_anime/lib/ui/screens/main_screen/main_screen.dart
Due: none

SPO-7614 Создал сервисный слой топ листа
  examples/my_anime/lib/data/api/jikan_api.dart
  examples/my_anime/lib/data/api/jikan_api.g.dart
  examples/my_anime/lib/data/mappers/anime_mapper.dart
  examples/my_anime/lib/data/raw_models/raw_anime.dart
  examples/my_anime/lib/data/raw_models/raw_anime.g.dart
  examples/my_anime/lib/data/raw_models/raw_anime_list_element.dart
  examples/my_anime/lib/data/raw_models/raw_anime_list_element.g.dart
  examples/my_anime/lib/data/raw_models/raw_anime_top.dart
  examples/my_anime/lib/data/raw_models/raw_anime_top.g.dart
  examples/my_anime/lib/main.dart
  examples/my_anime/lib/models/aime_entity.dart
  examples/my_anime/lib/repositories/anime_repository.dart
  examples/my_anime/lib/ui/app/app.dart
  examples/my_anime/lib/ui/app/app_component.dart
  examples/my_anime/lib/ui/screens/top_anime_screen/top_anime_screen.dart
  examples/my_anime/lib/ui/screens/top_anime_screen/top_anime_screen_component.dart
  examples/my_anime/lib/ui/screens/top_anime_screen/top_anime_screen_wm.dart
  examples/my_anime/lib/ui/widgets/anime_list_element.dart
Due: none

поправил конструкторы, добавил dart_code_metrics
  examples/my_anime/analysis_options.yaml
  examples/my_anime/lib/data/mappers/anime_mapper.dart
  examples/my_anime/lib/data/raw_models/raw_anime.dart
  examples/my_anime/lib/data/raw_models/raw_anime_list_element.dart
  examples/my_anime/lib/data/raw_models/raw_anime_list_element.g.dart
  examples/my_anime/lib/data/raw_models/raw_anime_top.dart
  examples/my_anime/lib/models/aime_entity.dart
  examples/my_anime/lib/repositories/anime_repository.dart
  examples/my_anime/lib/ui/app/app_component.dart
  examples/my_anime/lib/ui/screens/top_anime_screen/top_anime_screen_component.dart
  examples/my_anime/lib/ui/widgets/anime_list_element.dart
  examples/my_anime/pubspec.yaml
  examples/my_anime/test/api_test.dart
Due: none

SPO-7613 Верстка и логика топ-листа
  examples/my_anime/lib/ui/screens/main_screen/main_screen.dart
  examples/my_anime/lib/ui/screens/main_screen/main_screen_tabs.dart
  examples/my_anime/lib/ui/screens/main_screen/main_screen_wm.dart
  examples/my_anime/lib/ui/screens/top_anime_screen/top_anime_screen.dart
  examples/my_anime/lib/ui/screens/top_anime_screen/top_anime_screen_component.dart
  examples/my_anime/lib/ui/screens/top_anime_screen/top_anime_screen_wm.dart
Due: none

Spo-7614 сервисный слой топ листа (#330)
  examples/my_anime/analysis_options.yaml
  examples/my_anime/lib/data/api/jikan_api.dart
  examples/my_anime/lib/data/api/jikan_api.g.dart
  examples/my_anime/lib/data/mappers/anime_mapper.dart
  examples/my_anime/lib/data/raw_models/raw_anime.dart
  examples/my_anime/lib/data/raw_models/raw_anime.g.dart
  examples/my_anime/lib/data/raw_models/raw_anime_list_element.dart
  examples/my_anime/lib/data/raw_models/raw_anime_list_element.g.dart
  examples/my_anime/lib/data/raw_models/raw_anime_top.dart
  examples/my_anime/lib/data/raw_models/raw_anime_top.g.dart
  examples/my_anime/lib/main.dart
  examples/my_anime/lib/models/aime_entity.dart
  examples/my_anime/lib/repositories/anime_repository.dart
  examples/my_anime/lib/ui/app/app.dart
  examples/my_anime/lib/ui/app/app_component.dart
  examples/my_anime/lib/ui/screens/top_anime_screen/top_anime_screen.dart
  examples/my_anime/lib/ui/screens/top_anime_screen/top_anime_screen_component.dart
  examples/my_anime/lib/ui/screens/top_anime_screen/top_anime_screen_wm.dart
  examples/my_anime/lib/ui/widgets/anime_list_element.dart
  examples/my_anime/pubspec.yaml
  examples/my_anime/test/api_test.dart
Due: none

доработка
  examples/my_anime/analysis_options.yaml
  examples/my_anime/lib/data/api/jikan_api.dart
  examples/my_anime/lib/data/api/jikan_api.g.dart
  examples/my_anime/lib/data/mappers/anime_mapper.dart
  examples/my_anime/lib/data/raw_models/raw_anime.dart
  examples/my_anime/lib/data/raw_models/raw_anime.g.dart
  examples/my_anime/lib/data/raw_models/raw_anime_list_element.dart
  examples/my_anime/lib/data/raw_models/raw_anime_list_element.g.dart
  examples/my_anime/lib/data/raw_models/raw_anime_top.dart
  examples/my_anime/lib/main.dart
  examples/my_anime/lib/models/aime_entity.dart
  examples/my_anime/lib/repositories/anime_repository.dart
  examples/my_anime/lib/ui/app/app_component.dart
  examples/my_anime/lib/ui/screens/main_screen/main_screen.dart
  examples/my_anime/lib/ui/screens/main_screen/main_screen_tabs.dart
  examples/my_anime/lib/ui/screens/main_screen/main_screen_wm.dart
  examples/my_anime/lib/ui/screens/top_anime_screen/top_anime_screen.dart
  examples/my_anime/lib/ui/screens/top_anime_screen/top_anime_screen_wm.dart
  examples/my_anime/lib/ui/widgets/anime_list_element.dart
  examples/my_anime/pubspec.yaml
Due: none

SPO-7615 Верстка и логика детальной информации об анимэ
  examples/my_anime/lib/data/mappers/anime_mapper.dart
  examples/my_anime/lib/data/raw_models/raw_anime.dart
  examples/my_anime/lib/data/raw_models/raw_anime.g.dart
  examples/my_anime/lib/ui/screens/details_screen/details_screen.dart
  examples/my_anime/lib/ui/screens/details_screen/details_screen_component.dart
  examples/my_anime/lib/ui/screens/details_screen/details_screen_roure.dart
  examples/my_anime/lib/ui/screens/details_screen/details_screen_wm.dart
  examples/my_anime/lib/ui/screens/top_anime_screen/top_anime_screen.dart
  examples/my_anime/lib/ui/screens/top_anime_screen/top_anime_screen_wm.dart
  examples/my_anime/lib/ui/widgets/anime_list_element.dart
  examples/my_anime/pubspec.yaml
Due: none

SPO-7617 Сервисный слой Избранное
  examples/my_anime/analysis_options.yaml
  examples/my_anime/lib/data/storage/favorites_store.dart
  examples/my_anime/lib/data/storage/hive/anime_hive_object.dart
  examples/my_anime/lib/data/storage/hive/anime_hive_object.g.dart
  examples/my_anime/lib/data/storage/hive/hive_setup.dart
  examples/my_anime/lib/data/storage/hive_object_mapper.dart
  examples/my_anime/lib/interactors/anime_interactor.dart
  examples/my_anime/lib/main.dart
  examples/my_anime/lib/ui/app/app_component.dart
  examples/my_anime/lib/ui/screens/details_screen/details_screen.dart
  examples/my_anime/lib/ui/screens/details_screen/details_screen_component.dart
  examples/my_anime/lib/ui/screens/details_screen/details_screen_roure.dart
  examples/my_anime/lib/ui/screens/details_screen/details_screen_wm.dart
  examples/my_anime/lib/ui/screens/main_screen/main_screen.dart
  examples/my_anime/lib/ui/screens/main_screen/main_screen_tabs.dart
  examples/my_anime/lib/ui/screens/top_anime_screen/top_anime_screen_component.dart
  examples/my_anime/lib/ui/screens/top_anime_screen/top_anime_screen_wm.dart
Due: none

fix: tap outside when on drag down navigator pop
  packages/bottom_sheet/lib/src/flexible_bottom_sheet.dart
Due: bottom_sheet

Update structure.md
  docs/en/common/structure.md
Due: none

added user class, apiClient and repo
  packages/mwwm/example2/lib/ui/app.dart
  packages/mwwm/example2/lib/ui/data/models/user_model.dart
  packages/mwwm/example2/lib/ui/data/repo/users_repo.dart
  packages/mwwm/example2/lib/ui/data/storage/api_client.dart
  packages/mwwm/example2/pubspec.yaml
Due: mwwm

changed directories and added wm class
  packages/mwwm/example2/lib/data/models/user_model.dart
  packages/mwwm/example2/lib/data/repo/users_repo.dart
  packages/mwwm/example2/lib/data/storage/api_client.dart
  packages/mwwm/example2/lib/ui/users_screen/user_screen_wm.dart
Due: mwwm

added provider in pubspec and route class
  packages/mwwm/example2/lib/ui/users_screen/user_screen_route.dart
  packages/mwwm/example2/pubspec.yaml
Due: mwwm

user_screen user_screen_route user_screen_wm are done
  packages/mwwm/example2/lib/ui/users_screen/user_screen.dart
  packages/mwwm/example2/lib/ui/users_screen/user_screen_route.dart
  packages/mwwm/example2/lib/ui/users_screen/user_screen_wm.dart
Due: mwwm

added providers to main.dart
  packages/mwwm/example2/lib/main.dart
  packages/mwwm/example2/lib/ui/app.dart
  packages/mwwm/example2/lib/ui/users_screen/exceptions/default_error_handler.dart
  packages/mwwm/example2/test/widget_test.dart
Due: mwwm

wm and screen files correction
  packages/mwwm/example2/lib/data/models/user_model.dart
  packages/mwwm/example2/lib/data/repo/users_repo.dart
  packages/mwwm/example2/lib/data/storage/api_client.dart
  packages/mwwm/example2/lib/ui/users_screen/user_screen.dart
  packages/mwwm/example2/lib/ui/users_screen/user_screen_wm.dart
Due: mwwm

final correction
  packages/mwwm/example2/lib/ui/users_screen/user_screen.dart
Due: mwwm

Basic structure
  examples/pokemon/lib/main.dart
  examples/pokemon/lib/models/pokemon.dart
  examples/pokemon/lib/ui/app.dart
  examples/pokemon/lib/ui/pokemon_list/pokemon_list_route.dart
  examples/pokemon/lib/ui/pokemon_list/pokemon_list_screen.dart
  examples/pokemon/lib/ui/pokemon_list/pokemon_list_wm.dart
  examples/pokemon/pubspec.yaml
  examples/pokemon/test/widget_test.dart
Due: none

Path conditions:
  analytics: any of: packages/analytics/
  auto_reload: any of: packages/auto_reload/
  bottom_navigation_bar: any of: packages/bottom_navigation_bar/
  bottom_sheet: any of: packages/bottom_sheet/
  datalist: any of: packages/datalist/
  ink_widget: any of: packages/ink_widget/
  mwwm: any of: packages/mwwm/
  otp_autofill: any of: packages/otp_autofill/
  push_notification: any of: packages/push_notification/
  relation: any of: packages/relation/
  render_metrics: any of: packages/render_metrics/
  surf_logger: any of: packages/surf_logger/
  surf_mwwm: any of: packages/surf_mwwm/
  surf_utils: any of: packages/surf_utils/
  swipe_refresh: any of: packages/swipe_refresh/
  tabnavigator: any of: packages/tabnavigator/
