Repository surfstudio/SurfGear: changes, and which Codecov flags are due for each by the changed paths.
All: analytics, auto_reload, bottom_navigation_bar, bottom_sheet, datalist, ink_widget, mwwm, otp_autofill, push_notification, relation, render_metrics, surf_logger, surf_mwwm, surf_utils, swipe_refresh, tabnavigator

Null safe streamed state builder (#252)
  packages/relation/CHANGELOG.md
  packages/relation/example/lib/demo_relations.dart
  packages/relation/lib/src/builder/entity_state_builder.dart
  packages/relation/lib/src/builder/streamed_state_builder.dart
  packages/relation/lib/src/relation/state/entity_state.dart
  packages/relation/lib/src/relation/state/streamed_state.dart
  packages/relation/test/action/builder/streamed_state_builder_test.dart
  packages/relation/test/builder/entity_state_builder_test.dart
  packages/relation/test/builder/streamed_state_builder_test.dart
  packages/relation/test/builder/textfield_state_builder_test.dart
  packages/relation/test/relation/actions/scroll_offset_streamed_action_test.dart
  packages/relation/test/relation/actions/streamed_action_test.dart
  packages/relation/test/relation/actions/text_editing_streamed_action_test.dart
  packages/relation/test/relation/states/entity_streamed_state_test.dart
  packages/relation/test/relation/states/streamed_state_test.dart
  packages/relation/test/relation/states/text_field_streamed_state_test.dart
  packages/relation/test/test_utils.dart
Due: relation

🔖 Update relation version to 3.1.0-dev.1
  packages/relation/CHANGELOG.md
  packages/relation/pubspec.yaml
Due: relation

switch relation version to 3.1.0-dev.1
  packages/surf_mwwm/CHANGELOG.md
  packages/surf_mwwm/pubspec.yaml
Due: surf_mwwm

switch relation version to 3.1.0-dev.1 (#258)
  packages/surf_mwwm/CHANGELOG.md
  packages/surf_mwwm/pubspec.yaml
Due: surf_mwwm

🔖 Update surf_mwwm version to 2.0.2-dev.1
  packages/surf_mwwm/CHANGELOG.md
  packages/surf_mwwm/pubspec.yaml
Due: surf_mwwm

SPO-5955 took out a constants
  examples/simple_messenger/lib/data/message.dart
  examples/simple_messenger/lib/interactor/message/repository/message_repository.dart
  examples/simple_messenger/lib/utils/constants.dart
Due: none

SPO-5955 changed dynamic to Object
  examples/simple_messenger/lib/interactor/message/repository/message_repository.dart
Due: none

SPO-5955 changed relation version
  examples/simple_messenger/pubspec.yaml
Due: none

SPO-5955 removed unnecessary question mark
  examples/simple_messenger/lib/ui/screens/global_chat/global_chat_screen.dart
Due: none

SPO-5955 format analysis_options
  examples/simple_messenger/analysis_options.yaml
Due: none

🔖 Update relation version to 3.1.0
  packages/relation/CHANGELOG.md
  packages/relation/pubspec.yaml
Due: relation

🔖 Update surf_mwwm version to 2.0.2
  packages/surf_mwwm/CHANGELOG.md
  packages/surf_mwwm/pubspec.yaml
Due: surf_mwwm

SPO-6131 Added a mechanism for loading more facts
  examples/cat_facts/lib/config/url_config.dart
  examples/cat_facts/lib/data/facts/fact.dart
  examples/cat_facts/lib/interactor/facts/facts_interactor.dart
  examples/cat_facts/lib/repository/api_client.dart
  examples/cat_facts/lib/repository/facts/facts_repository.dart
  examples/cat_facts/lib/ui/screen/facts/facts_screen.dart
  examples/cat_facts/lib/ui/screen/facts/facts_screen_wm.dart
  examples/cat_facts/test/golden/app/app_test.dart
  examples/cat_facts/test/unit/repository/facts_repository_test.dart
Due: none

SPO-6131 Added statistics for the list of facts
  examples/cat_facts/lib/repository/api_client.dart
  examples/cat_facts/lib/repository/facts/facts_repository.dart
  examples/cat_facts/lib/ui/screen/facts/facts_screen.dart
  examples/cat_facts/lib/ui/screen/facts/facts_screen_wm.dart
Due: none

SPO-6131 Separation of facts in a list.
  examples/cat_facts/lib/ui/screen/facts/facts_screen.dart
Due: none

SPO-6131 Add space between title and content
  examples/cat_facts/lib/ui/screen/facts/facts_screen.dart
Due: none

SPO-6131 Move widget in file
  examples/cat_facts/lib/ui/screen/facts/components/fact_list_tile.dart
  examples/cat_facts/lib/ui/screen/facts/facts_screen.dart
Due: none

SPO-6131 Change method name in interactor
  examples/cat_facts/lib/data/facts/fact.dart
  examples/cat_facts/lib/interactor/facts/facts_interactor.dart
  examples/cat_facts/lib/ui/screen/facts/facts_screen_wm.dart
Due: none

SPO-6131 Add error handler on UI when get fact
  examples/cat_facts/lib/data/facts/fact.dart
  examples/cat_facts/lib/repository/facts/facts_repository.dart
  examples/cat_facts/lib/ui/app/app.dart
  examples/cat_facts/lib/ui/screen/facts/components/fact_list_tile.dart
  examples/cat_facts/lib/ui/screen/facts/facts_screen.dart
  examples/cat_facts/lib/ui/screen/facts/facts_screen_wm.dart
  examples/cat_facts/test/golden/app/app_test.dart
Due: none

SPO-6131 Change wm countLength methods
  examples/cat_facts/lib/ui/screen/facts/components/fact_list_tile.dart
  examples/cat_facts/lib/ui/screen/facts/facts_screen_wm.dart
Due: none

Spo 6131 fix cat facts (#267)
  examples/cat_facts/lib/config/url_config.dart
  examples/cat_facts/lib/data/facts/fact.dart
  examples/cat_facts/lib/interactor/facts/facts_interactor.dart
  examples/cat_facts/lib/repository/api_client.dart
  examples/cat_facts/lib/repository/facts/facts_repository.dart
  examples/cat_facts/lib/ui/app/app.dart
  examples/cat_facts/lib/ui/screen/facts/components/fact_list_tile.dart
  examples/cat_facts/lib/ui/screen/facts/facts_screen.dart
  examples/cat_facts/lib/ui/screen/facts/facts_screen_wm.dart
  examples/cat_facts/test/golden/app/app_test.dart
  examples/cat_facts/test/unit/repository/facts_repository_test.dart
Due: none

SPO-6132 Migrate lint rules
  packages/surf_lint_rules/lib/analysis_options.1.4.0.yaml
  packages/surf_lint_rules/lib/analysis_options.yaml
  packages/surf_lint_rules/pubspec.yaml
Due: none

SPO-6132 Copy class method from pedantic repo
  packages/surf_lint_rules/lib/surf_lint_rules.dart
Due: none

SPO-6132 Add changelog info and removed mention of pedantic
  packages/surf_lint_rules/CHANGELOG.md
  packages/surf_lint_rules/lib/surf_lint_rules.dart
  packages/surf_lint_rules/pubspec.yaml
Due: none

SPO-6132 Fix CHANGELOG.md format
  packages/surf_lint_rules/CHANGELOG.md
  packages/surf_lint_rules/lib/surf_lint_rules.dart
Due: none

SPO-6132 change type changes in CHANGELOG.md
  packages/surf_lint_rules/CHANGELOG.md
Due: none

SPO-6132 add empty line
  packages/surf_lint_rules/dart_dependency_validator.yaml
  packages/surf_lint_rules/lib/surf_lint_rules.dart
Due: none

SPO-6132 Changelog change type build
  packages/surf_lint_rules/CHANGELOG.md
Due: none

SPO-6132 Migrate lint rules (#268)
  packages/surf_lint_rules/CHANGELOG.md
  packages/surf_lint_rules/dart_dependency_validator.yaml
  packages/surf_lint_rules/lib/analysis_options.1.4.0.yaml
  packages/surf_lint_rules/lib/analysis_options.yaml
  packages/surf_lint_rules/lib/surf_lint_rules.dart
  packages/surf_lint_rules/pubspec.yaml
Due: none

🔖 Update surf_lint_rules version to 1.4.0-dev.1
  packages/surf_lint_rules/CHANGELOG.md
  packages/surf_lint_rules/pubspec.yaml
Due: none

🔖 Update surf_lint_rules version to 1.4.0
  packages/surf_lint_rules/CHANGELOG.md
  packages/surf_lint_rules/pubspec.yaml
Due: none

make receivers null after unregister
  packages/otp_autofill/android/src/main/kotlin/ru/surfstudio/otp_autofill/OTPPlugin.kt
Due: otp_autofill

add autoStop param
  packages/otp_autofill/lib/src/otp_text_edit_controller.dart
Due: otp_autofill

make onCodeReceive nullable
  packages/otp_autofill/lib/src/otp_text_edit_controller.dart
Due: otp_autofill

update changelog
  packages/otp_autofill/CHANGELOG.md
Due: otp_autofill

Update otp_autofill (#281)
  packages/otp_autofill/CHANGELOG.md
  packages/otp_autofill/android/src/main/kotlin/ru/surfstudio/otp_autofill/OTPPlugin.kt
  packages/otp_autofill/lib/src/otp_text_edit_controller.dart
Due: otp_autofill

🔖 Update otp_autofill version to 1.1.0-dev.1
  packages/otp_autofill/CHANGELOG.md
  packages/otp_autofill/pubspec.yaml
Due: otp_autofill

Updated Readme. Action changed to StreamedAction.
  packages/relation/README.md
Due: relation

FEAT: no onHide called only when the keyboard is hidden after it has been opened
  packages/keyboard_listener/lib/src/keyboard_listener.dart
Due: none

Path conditions:
  analytics: any of: packages/analytics/
  auto_reload: any of: packages/auto_reload/
  bottom_navigation_bar: any of: packages/bottom_navigation_bar/
  bottom_sheet: any of: packages/bottom_sheet/
  datalist: any of: packages/datalist/
  ink_widget: any of: packages/ink_widget/
  mwwm: any of: packages/mwwm/
  otp_autofill: any of: packages/otp_autofill/
  push_notification: any of: packages/push_notification/
  relation: any of: packages/relation/
  render_metrics: any of: packages/render_metrics/
  surf_logger: any of: packages/surf_logger/
  surf_mwwm: any of: packages/surf_mwwm/
  surf_utils: any of: packages/surf_utils/
  swipe_refresh: any of: packages/swipe_refresh/
  tabnavigator: any of: packages/tabnavigator/
