Repository surfstudio/SurfGear: changes, and which Codecov flags are due for each by the changed paths.
All: auto_reload, bottom_sheet, datalist, ink_widget, mwwm, otp_autofill, relation, render_metrics, surf_logger, surf_utils

build: get rid flutter from package
  packages/auto_reload/pubspec.yaml
  packages/auto_reload/test/auto_reload_mixin_test.dart
Due: auto_reload

build: migrate on dart_dependency_validator.yaml
  packages/auto_reload/dart_dependency_validator.yaml
  packages/auto_reload/pubspec.yaml
Due: auto_reload

changelog
  packages/auto_reload/CHANGELOG.md
Due: auto_reload

fix deps
  packages/auto_reload/pubspec.yaml
Due: auto_reload

restore flutter
  packages/auto_reload/dart_dependency_validator.yaml
  packages/auto_reload/pubspec.yaml
  packages/auto_reload/test/auto_reload_mixin_test.dart
Due: auto_reload

fix
  packages/auto_reload/CHANGELOG.md
Due: auto_reload

Autodeploy auto reload (#198)
  .github/workflows/auto_reload.yaml
  packages/auto_reload/CHANGELOG.md
  packages/auto_reload/dart_dependency_validator.yaml
  packages/auto_reload/pubspec.yaml
  tools/ci-cd/lib/src/git.dart
Due: auto_reload

🔖 Update auto_reload version to 1.0.0-dev.2
  packages/auto_reload/CHANGELOG.md
  packages/auto_reload/pubspec.yaml
Due: auto_reload

Update pubspec.yaml
  examples/github/pubspec.yaml
Due: none

chore: fix some linter issues
  .github/workflows/bottom_navigation_bar.yaml
  packages/bottom_navigation_bar/CHANGELOG.md
  packages/bottom_navigation_bar/example/lib/main.dart
  packages/bottom_navigation_bar/lib/bottom_navigation_bar.dart
  packages/bottom_navigation_bar/lib/src/bottom_navigator.dart
  packages/bottom_navigation_bar/pubspec.yaml
  packages/bottom_navigation_bar/test/bottom_navigation_bar_test.dart
Due: none

chore: remove rule: `diagnostic_describe_all_properties`
  packages/surf_lint_rules/CHANGELOG.md
  packages/surf_lint_rules/lib/analysis_options.1.2.0.yaml
  packages/surf_lint_rules/pubspec.yaml
Due: none

fix: bump dev package version on ci/cd
  tools/ci-cd/bin/ci.dart
  tools/ci-cd/lib/src/version.dart
  tools/ci-cd/test/version_test.dart
Due: none

fix prev
  tools/ci-cd/bin/ci.dart
Due: none

fix
  .github/workflows/publish_to_pub.yaml
Due: none

Autodeploy bottom navigation bar (#201)
  .github/workflows/bottom_navigation_bar.yaml
  .github/workflows/publish_to_pub.yaml
  packages/bottom_navigation_bar/CHANGELOG.md
  packages/bottom_navigation_bar/example/lib/main.dart
  packages/bottom_navigation_bar/lib/bottom_navigation_bar.dart
  packages/bottom_navigation_bar/lib/src/bottom_navigator.dart
  packages/bottom_navigation_bar/pubspec.yaml
  packages/bottom_navigation_bar/test/bottom_navigation_bar_test.dart
  packages/surf_lint_rules/CHANGELOG.md
  packages/surf_lint_rules/lib/analysis_options.1.2.0.yaml
  packages/surf_lint_rules/pubspec.yaml
  tools/ci-cd/bin/ci.dart
  tools/ci-cd/lib/src/version.dart
  tools/ci-cd/test/version_test.dart
Due: none

🔖 Update bottom_navigation_bar version to 1.0.1-dev.1
  packages/bottom_navigation_bar/CHANGELOG.md
  packages/bottom_navigation_bar/pubspec.yaml
Due: none

chore: apply new lint rules
  .github/workflows/bottom_sheet.yaml
  .github/workflows/publish_to_pub.yaml
  packages/bottom_sheet/CHANGELOG.md
  packages/bottom_sheet/example/lib/main.dart
  packages/bottom_sheet/example/pubspec.yaml
  packages/bottom_sheet/lib/bottom_sheet.dart
  packages/bottom_sheet/lib/src/flexible_bottom_sheet.dart
  packages/bottom_sheet/lib/src/flexible_bottom_sheet_route.dart
  packages/bottom_sheet/lib/src/widgets/flexible_draggable_scrollable_sheet.dart
  packages/bottom_sheet/test/bottom_sheet_test.dart
  packages/bottom_sheet/test/test_utils.dart
Due: bottom_sheet

chore: tune avoid-returning-widgets
  packages/surf_lint_rules/CHANGELOG.md
  packages/surf_lint_rules/lib/analysis_options.1.2.0.yaml
Due: none

chore: tune ci/cd
  tools/ci-cd/lib/src/git.dart
Due: none

fix
  packages/bottom_sheet/lib/src/flexible_bottom_sheet_route.dart
  packages/surf_lint_rules/CHANGELOG.md
  packages/surf_lint_rules/lib/analysis_options.1.2.0.yaml
Due: bottom_sheet

Autodeploy bottom sheet (#202)
  .github/workflows/bottom_sheet.yaml
  .github/workflows/publish_to_pub.yaml
  packages/bottom_sheet/CHANGELOG.md
  packages/bottom_sheet/example/lib/main.dart
  packages/bottom_sheet/example/pubspec.yaml
  packages/bottom_sheet/lib/bottom_sheet.dart
  packages/bottom_sheet/lib/src/flexible_bottom_sheet.dart
  packages/bottom_sheet/lib/src/flexible_bottom_sheet_route.dart
  packages/bottom_sheet/lib/src/widgets/flexible_draggable_scrollable_sheet.dart
  packages/bottom_sheet/test/bottom_sheet_test.dart
  packages/bottom_sheet/test/test_utils.dart
  packages/surf_lint_rules/CHANGELOG.md
  packages/surf_lint_rules/lib/analysis_options.1.2.0.yaml
  tools/ci-cd/lib/src/git.dart
Due: bottom_sheet

"🔖 Update bottom_sheet version to 1.0.1-dev.1"
  packages/bottom_sheet/CHANGELOG.md
  packages/bottom_sheet/pubspec.yaml
Due: bottom_sheet

chore: tune ci/cd
  .github/workflows/publish_to_pub.yaml
  tools/ci-cd/lib/src/git.dart
Due: none

🔖 Update surf_lint_rules version to 1.1.1-dev.2
  packages/surf_lint_rules/CHANGELOG.md
  packages/surf_lint_rules/pubspec.yaml
Due: none

chore: apply new lint rules
  .github/workflows/datalist.yaml
  .github/workflows/ink_widget.yaml
  .github/workflows/publish_to_pub.yaml
  packages/datalist/.metadata
  packages/datalist/CHANGELOG.md
  packages/datalist/lib/datalist.dart
  packages/datalist/lib/src/impl/datalist_page_count.dart
  packages/datalist/pubspec.yaml
  packages/datalist/test/datalist_offset_test.dart
  packages/datalist/test/datalist_pagecount_test.dart
  packages/ink_widget/CHANGELOG.md
  packages/ink_widget/lib/src/ink_widget.dart
  packages/ink_widget/pubspec.yaml
  packages/ink_widget/test/disable_widget_test.dart
  packages/ink_widget/test/ink_widget_test.dart
  packages/ink_widget/test/utils.dart
  packages/surf_lint_rules/CHANGELOG.md
  packages/surf_lint_rules/lib/analysis_options.1.2.0.yaml
Due: datalist, ink_widget

chore: tune ci/cd
  .github/workflows/auto_reload.yaml
  .github/workflows/in_app_rate.yaml
Due: none

fix
  packages/datalist/lib/datalist.dart
Due: datalist

chore: apply new lint rules (#203)
  .github/workflows/datalist.yaml
  .github/workflows/ink_widget.yaml
  .github/workflows/publish_to_pub.yaml
  packages/datalist/.metadata
  packages/datalist/CHANGELOG.md
  packages/datalist/lib/datalist.dart
  packages/datalist/lib/src/impl/datalist_page_count.dart
  packages/datalist/pubspec.yaml
  packages/datalist/test/datalist_offset_test.dart
  packages/datalist/test/datalist_pagecount_test.dart
  packages/ink_widget/CHANGELOG.md
  packages/ink_widget/lib/src/ink_widget.dart
  packages/ink_widget/pubspec.yaml
  packages/ink_widget/test/disable_widget_test.dart
  packages/ink_widget/test/ink_widget_test.dart
  packages/ink_widget/test/utils.dart
  packages/surf_lint_rules/CHANGELOG.md
  packages/surf_lint_rules/lib/analysis_options.1.2.0.yaml
Due: datalist, ink_widget

🔖 Update datalist version to 1.0.1-dev.1
  packages/datalist/CHANGELOG.md
  packages/datalist/pubspec.yaml
Due: datalist

🔖 Update ink_widget version to 2.0.1-dev.1
  packages/ink_widget/CHANGELOG.md
  packages/ink_widget/pubspec.yaml
Due: ink_widget

🔖 Update surf_lint_rules version to 1.1.1-dev.3
  packages/surf_lint_rules/CHANGELOG.md
  packages/surf_lint_rules/pubspec.yaml
Due: none

chore: apply new lint rules
  .github/workflows/keyboard_listener.yaml
  .github/workflows/mwwm.yaml
  .github/workflows/otp_autofill.yaml
  .github/workflows/publish_to_pub.yaml
  .github/workflows/relation.yaml
  packages/mwwm/example/lib/main.dart
  packages/mwwm/example/lib/ui/counter_screen/counter_route.dart
  packages/mwwm/lib/mwwm.dart
  packages/mwwm/pubspec.yaml
  packages/mwwm/test/composite_subscription_test.dart
  packages/mwwm/test/mocks/performer_mock.dart
  packages/mwwm/test/model_test.dart
  packages/mwwm/test/widget_model_test.dart
  packages/relation/example/lib/demo_relations.dart
  packages/relation/pubspec.yaml
  packages/relation/test/action/actions/text_editing_action_test.dart
  packages/relation/test/action/builder/entity_state_builder_test.dart
Due: mwwm, relation

fix ci/cd
  tools/ci-cd/lib/src/git.dart
Due: none

fix changelog
  packages/mwwm/CHANGELOG.md
  packages/otp_autofill/CHANGELOG.md
  packages/relation/CHANGELOG.md
Due: mwwm, otp_autofill, relation

fix prev
  packages/mwwm/dart_dependency_validator.yaml
Due: mwwm

fix texts
  packages/mwwm/test/composite_subscription_test.dart
Due: mwwm

chore: apply new lint rules (#207)
  .github/workflows/keyboard_listener.yaml
  .github/workflows/mwwm.yaml
  .github/workflows/otp_autofill.yaml
  .github/workflows/publish_to_pub.yaml
  .github/workflows/relation.yaml
  packages/mwwm/CHANGELOG.md
  packages/mwwm/dart_dependency_validator.yaml
  packages/mwwm/example/lib/main.dart
  packages/mwwm/example/lib/ui/counter_screen/counter_route.dart
  packages/mwwm/lib/mwwm.dart
  packages/mwwm/pubspec.yaml
  packages/mwwm/test/composite_subscription_test.dart
  packages/mwwm/test/mocks/performer_mock.dart
  packages/mwwm/test/model_test.dart
  packages/mwwm/test/widget_model_test.dart
  packages/otp_autofill/CHANGELOG.md
  packages/relation/CHANGELOG.md
  packages/relation/example/lib/demo_relations.dart
  packages/relation/pubspec.yaml
  packages/relation/test/action/actions/text_editing_action_test.dart
  packages/relation/test/action/builder/entity_state_builder_test.dart
  tools/ci-cd/lib/src/git.dart
Due: mwwm, otp_autofill, relation

🔖 Update mwwm version to 1.1.1-dev.1
  packages/mwwm/CHANGELOG.md
  packages/mwwm/pubspec.yaml
Due: mwwm

🔖 Update otp_autofill version to 1.0.2-dev.1
  packages/otp_autofill/CHANGELOG.md
  packages/otp_autofill/pubspec.yaml
Due: otp_autofill

🔖 Update relation version to 2.0.1-dev.1
  packages/relation/CHANGELOG.md
  packages/relation/pubspec.yaml
Due: relation

Path conditions:
  auto_reload: any of: packages/auto_reload/
  bottom_sheet: any of: packages/bottom_sheet/
  datalist: any of: packages/datalist/
  ink_widget: any of: packages/ink_widget/
  mwwm: any of: packages/mwwm/
  otp_autofill: any of: packages/otp_autofill/
  relation: any of: packages/relation/
  render_metrics: any of: packages/render_metrics/
  surf_logger: any of: packages/surf_logger/
  surf_utils: any of: packages/surf_utils/
