Repository surfstudio/SurfGear: changes, and which Codecov flags are due for each by the changed paths.
All: analytics, auto_reload, bottom_navigation_bar, bottom_sheet, datalist, ink_widget, mwwm, otp_autofill, push_notification, relation, render_metrics, surf_logger, surf_mwwm, surf_utils, swipe_refresh, tabnavigator

codecov.yml:

coverage:
  precision: 2
  round: nearest
  status:
    project:
      default: off
      analytics:
        flags: analytics
      auto_reload:
        flags: auto_reload
      bottom_navigation_bar:
        flags: bottom_navigation_bar
      bottom_sheet:
        flags: bottom_sheet
      datalist:
        flags: datalist
      ink_widget:
        flags: ink_widget
      mwwm:
        flags: mwwm
      otp_autofill:
        flags: otp_autofill
      push_notification:
        flags: push_notification
      relation:
        flags: relation
      render_metrics:
        flags: render_metrics
      surf_logger:
        flags: surf_logger
      surf_mwwm:
        flags: surf_mwwm
      surf_utils:
        flags: surf_utils
      swipe_refresh:
        flags: swipe_refresh
      tabnavigator:
        flags: tabnavigator

flags:
  analytics:
    paths:
      - packages/analytics/
    carryforward: true
  auto_reload:
    paths:
      - packages/auto_reload/
    carryforward: true
  bottom_navigation_bar:
    paths:
      - packages/bottom_navigation_bar/
    carryforward: true
  bottom_sheet:
    paths:
      - packages/bottom_sheet/
    carryforward: true
  datalist:
    paths:
      - packages/datalist/
    carryforward: true
  ink_widget:
    paths:
      - packages/ink_widget/
    carryforward: true
  mwwm:
    paths:
      - packages/mwwm/
    carryforward: true
  otp_autofill:
    paths:
      - packages/otp_autofill/
    carryforward: true
  push_notification:
    paths:
      - packages/push_notification/
    carryforward: true
  relation:
    paths:
      - packages/relation/
    carryforward: true
  render_metrics:
    paths:
      - packages/render_metrics/
    carryforward: true
  surf_logger:
    paths:
      - packages/surf_logger/
    carryforward: true
  surf_mwwm:
    paths:
      - packages/surf_mwwm/
    carryforward: true
  surf_utils:
    paths:
      - packages/surf_utils/
    carryforward: true
  swipe_refresh:
    paths:
      - packages/swipe_refresh/
    carryforward: true
  tabnavigator:
    paths:
      - packages/tabnavigator/
    carryforward: true

format
  packages/relation/lib/src/relation/action/actions/text_editing_action.dart
  packages/relation/test/action/actions/text_editing_streamed_action_test.dart
Due: relation

improve docs
  packages/mwwm/lib/src/widget_model.dart
Due: mwwm

remove nullable types in mwwm
  packages/mwwm/lib/src/utils/composite_subscription.dart
  packages/mwwm/lib/src/widget_model.dart
Due: mwwm

add deprecation notes
  packages/mwwm/lib/src/widget_model.dart
Due: mwwm

alter changelog
  packages/mwwm/CHANGELOG.md
Due: mwwm

format and fix analyzer warnings
  packages/mwwm/example/lib/data/counter/repository/counter_repository.dart
  packages/mwwm/example/lib/ui/counter_screen/counter_wm.dart
  packages/mwwm/lib/src/dependencies/wm_dependencies.dart
  packages/mwwm/lib/src/model/exceptions.dart
  packages/mwwm/lib/src/widget_model.dart
  packages/mwwm/lib/src/widget_state.dart
  packages/mwwm/test/widget_model_test.dart
Due: mwwm

change to major
  packages/mwwm/CHANGELOG.md
Due: mwwm

use ignore for file
  packages/mwwm/test/widget_model_test.dart
Due: mwwm

add blank lines
  packages/mwwm/example/lib/ui/counter_screen/counter_wm.dart
  packages/mwwm/lib/src/widget_model.dart
Due: mwwm

format again
  packages/mwwm/lib/src/widget_model.dart
Due: mwwm

build: disable codecov patch Status
  codecov.yml
Due: none

🔖 Update bottom_sheet version to 1.0.1
  packages/bottom_sheet/CHANGELOG.md
  packages/bottom_sheet/pubspec.yaml
Due: bottom_sheet

add note about pubspec.yaml
  CONTRIBUTING.md
Due: none

update CONTRIBUTING (#218)
  CONTRIBUTING.md
Due: none

fix problem with access to widget properties in WidgetState
  packages/mwwm/example/lib/ui/counter_screen/counter_route.dart
  packages/mwwm/example/lib/ui/counter_screen/counter_screen.dart
  packages/mwwm/lib/src/widget_state.dart
  packages/mwwm/test/mocks/widget_model_mock.dart
  packages/mwwm/test/test_entities/test_widget_model.dart
  packages/mwwm/test/widget_model_test.dart
  packages/mwwm/test/widget_state_test.dart
Due: mwwm

format and alter changelog
  packages/mwwm/CHANGELOG.md
  packages/mwwm/example/lib/ui/counter_screen/counter_screen.dart
  packages/mwwm/lib/src/widget_state.dart
  packages/mwwm/test/test_entities/test_widget_model.dart
  packages/mwwm/test/widget_state_test.dart
Due: mwwm

add bindVoid method and OldWidgetState
  packages/surf_mwwm/CHANGELOG.md
  packages/surf_mwwm/example/lib/ui/app/app.dart
  packages/surf_mwwm/example/lib/ui/screen/counter/counter_screen.dart
  packages/surf_mwwm/example/lib/ui/screen/counter/counter_wm.dart
  packages/surf_mwwm/lib/src/extensions/mwwm_extensions.dart
  packages/surf_mwwm/lib/src/mwwm_widget.dart
  packages/surf_mwwm/pubspec.yaml
  packages/surf_mwwm/test/extentions/mwwm_extentions_test.dart
Due: surf_mwwm

add bindVoid test
  packages/surf_mwwm/test/extentions/mwwm_extentions_test.dart
Due: surf_mwwm

format
  packages/surf_mwwm/CHANGELOG.md
  packages/surf_mwwm/example/lib/ui/screen/counter/counter_screen.dart
  packages/surf_mwwm/lib/src/mwwm_widget.dart
Due: surf_mwwm

Mwwm better null safety migration (#225)
  packages/mwwm/CHANGELOG.md
  packages/mwwm/example/lib/data/counter/repository/counter_repository.dart
  packages/mwwm/example/lib/ui/counter_screen/counter_route.dart
  packages/mwwm/example/lib/ui/counter_screen/counter_screen.dart
  packages/mwwm/example/lib/ui/counter_screen/counter_wm.dart
  packages/mwwm/lib/src/dependencies/wm_dependencies.dart
  packages/mwwm/lib/src/model/exceptions.dart
  packages/mwwm/lib/src/utils/composite_subscription.dart
  packages/mwwm/lib/src/widget_model.dart
  packages/mwwm/lib/src/widget_state.dart
  packages/mwwm/test/mocks/widget_model_mock.dart
  packages/mwwm/test/test_entities/test_widget_model.dart
  packages/mwwm/test/widget_model_test.dart
  packages/mwwm/test/widget_state_test.dart
Due: mwwm

🔖 Update mwwm version to 2.0.0-dev.1
  packages/mwwm/CHANGELOG.md
  packages/mwwm/pubspec.yaml
Due: mwwm

Рефакторинг и тесты
  examples/cat_facts/analysis_options.yaml
  examples/cat_facts/lib/config/url_config.dart
  examples/cat_facts/lib/interactor/facts/facts_interactor.dart
  examples/cat_facts/lib/interactor/theme/theme_interactor.dart
  examples/cat_facts/lib/main.dart
  examples/cat_facts/lib/repository/api_client.dart
  examples/cat_facts/lib/repository/facts_repository.dart
  examples/cat_facts/lib/ui/app/app_dependencies.dart
  examples/cat_facts/lib/ui/app/app_wm.dart
  examples/cat_facts/lib/ui/screen/facts/facts_screen_wm.dart
  examples/cat_facts/pubspec.yaml
  examples/cat_facts/test/golden/app/app_test.dart
  examples/cat_facts/test/golden/app/app_test.png
  examples/cat_facts/test/golden/app/goldens/toolkit_app_test.custom 1.png
  examples/cat_facts/test/golden/app/goldens/toolkit_app_test.iphone11.png
  examples/cat_facts/test/golden/app/goldens/toolkit_app_test.phone.png
  examples/cat_facts/test/golden/app/goldens/toolkit_app_test.tablet_portrait.png
  examples/cat_facts/test/golden/core/golden_app_wrapper.dart
Due: none

Добавлены golden tests с помощью tool-kit.
  examples/cat_facts/lib/ui/app/app.dart
  examples/cat_facts/test/golden/app/app_test.dart
  examples/cat_facts/test/golden/app/goldens/toolkit_app_test.custom 1.png
  examples/cat_facts/test/golden/app/goldens/toolkit_app_test.iphone11.png
  examples/cat_facts/test/golden/app/goldens/toolkit_app_test.phone.png
  examples/cat_facts/test/golden/app/goldens/toolkit_app_test.tablet_portrait.png
Due: none

refactor theme button
  examples/cat_facts/lib/ui/screen/facts/facts_screen.dart
  examples/cat_facts/lib/ui/screen/facts/theme_button.dart
Due: none

Пример unit теста.
  examples/cat_facts/lib/repository/facts_repository.dart
  examples/cat_facts/test/unit/repository/facts_repository_test.dart
Due: none

add integration test example
  examples/cat_facts/lib/ui/screen/facts/facts_screen.dart
  examples/cat_facts/lib/ui/screen/facts/theme_button.dart
  examples/cat_facts/pubspec.yaml
  examples/cat_facts/test_driver/app.dart
  examples/cat_facts/test_driver/app_test.dart
Due: none

cover theme button by tests
  examples/cat_facts/test/widget/theme_button_test.dart
  examples/cat_facts/test/widget/utils.dart
Due: none

Рефакторинг и тесты
  examples/cat_facts/pubspec.yaml
Due: none

add integration test example
  examples/cat_facts/pubspec.yaml
Due: none

Вынес в отдельную директорию репозиторий. Удалил артефакт от мерджа.
  examples/cat_facts/lib/interactor/api_client.dart
  examples/cat_facts/lib/interactor/facts/facts_interactor.dart
  examples/cat_facts/lib/repository/facts/facts_repository.dart
  examples/cat_facts/lib/ui/app/app_dependencies.dart
  examples/cat_facts/test/unit/repository/facts_repository_test.dart
Due: none

integration tests
  examples/cat_facts/integration_test/switch_theme_test.dart
  examples/cat_facts/lib/ui/screen/facts/theme_button.dart
  examples/cat_facts/pubspec.yaml
  examples/cat_facts/test_driver/app.dart
  examples/cat_facts/test_driver/app_test.dart
  examples/cat_facts/test_driver/integration_test.dart
Due: none

improve analysis_options
  examples/cat_facts/analysis_options.yaml
Due: none

cleanup
  examples/cat_facts/pubspec.yaml
  examples/cat_facts/test_driver/integration_test.dart
Due: none

fix lints
  examples/cat_facts/ios/Flutter/Debug.xcconfig
  examples/cat_facts/ios/Flutter/Release.xcconfig
  examples/cat_facts/ios/Podfile
  examples/cat_facts/lib/data/facts/fact.dart
  examples/cat_facts/lib/repository/api_client.dart
  examples/cat_facts/lib/repository/facts/facts_repository.dart
  examples/cat_facts/lib/ui/app/app_dependencies.dart
  examples/cat_facts/lib/ui/app/app_wm.dart
  examples/cat_facts/lib/ui/screen/facts/facts_screen_wm.dart
  examples/cat_facts/pubspec.yaml
  examples/cat_facts/test/golden/core/golden_app_wrapper.dart
Due: none

migrate on mwwm
  examples/cat_facts/lib/ui/app/app.dart
  examples/cat_facts/lib/ui/app/app_wm.dart
  examples/cat_facts/lib/ui/screen/facts/facts_screen.dart
  examples/cat_facts/lib/ui/screen/facts/facts_screen_wm.dart
  examples/cat_facts/pubspec.yaml
Due: none

fix tests
  .gitignore
  examples/cat_facts/test/golden/app/goldens/toolkit_app_test.custom 1.png
  examples/cat_facts/test/golden/app/goldens/toolkit_app_test.iphone11.png
  examples/cat_facts/test/golden/app/goldens/toolkit_app_test.phone.png
  examples/cat_facts/test/golden/app/goldens/toolkit_app_test.tablet_portrait.png
  examples/cat_facts/test/widget/theme_button_test.dart
  examples/cat_facts/test/widget/utils.dart
Due: none

qwer
  examples/cat_facts/ios/Runner.xcodeproj/project.pbxproj
  examples/cat_facts/ios/Runner.xcworkspace/contents.xcworkspacedata
Due: none

Update example cat (#184)
  .gitignore
  examples/cat_facts/analysis_options.yaml
  examples/cat_facts/integration_test/switch_theme_test.dart
  examples/cat_facts/ios/Flutter/Debug.xcconfig
  examples/cat_facts/ios/Flutter/Release.xcconfig
  examples/cat_facts/ios/Podfile
  examples/cat_facts/ios/Runner.xcodeproj/project.pbxproj
  examples/cat_facts/ios/Runner.xcworkspace/contents.xcworkspacedata
  examples/cat_facts/lib/config/url_config.dart
  examples/cat_facts/lib/data/facts/fact.dart
  examples/cat_facts/lib/data/theme/app_theme.dart
  examples/cat_facts/lib/interactor/facts/facts_interactor.dart
  examples/cat_facts/lib/interactor/theme/theme_interactor.dart
  examples/cat_facts/lib/main.dart
  examples/cat_facts/lib/repository/api_client.dart
  examples/cat_facts/lib/repository/facts/facts_repository.dart
  examples/cat_facts/lib/ui/app/app.dart
  examples/cat_facts/lib/ui/app/app_dependencies.dart
  examples/cat_facts/lib/ui/app/app_wm.dart
  examples/cat_facts/lib/ui/screen/facts/facts_screen.dart
  examples/cat_facts/lib/ui/screen/facts/facts_screen_wm.dart
  examples/cat_facts/lib/ui/screen/facts/theme_button.dart
  examples/cat_facts/pubspec.yaml
  examples/cat_facts/test/golden/app/app_test.dart
  examples/cat_facts/test/golden/app/app_test.png
  examples/cat_facts/test/golden/app/goldens/toolkit_app_test.custom 1.png
  examples/cat_facts/test/golden/app/goldens/toolkit_app_test.iphone11.png
  examples/cat_facts/test/golden/app/goldens/toolkit_app_test.phone.png
  examples/cat_facts/test/golden/app/goldens/toolkit_app_test.tablet_portrait.png
  examples/cat_facts/test/golden/core/golden_app_wrapper.dart
  examples/cat_facts/test/unit/repository/facts_repository_test.dart
  examples/cat_facts/test/widget/theme_button_test.dart
  examples/cat_facts/test/widget/utils.dart
Due: none

add tests
  packages/relation/lib/src/builder/textfield_state_builder.dart
  packages/relation/test/action/states/entity_streamed_state_test.dart
  packages/relation/test/action/states/text_field_streamed_state_test.dart
Due: relation

format
  packages/relation/lib/src/builder/textfield_state_builder.dart
  packages/relation/test/action/states/entity_streamed_state_test.dart
  packages/relation/test/action/states/text_field_streamed_state_test.dart
Due: relation
