Repository surfstudio/SurfGear: changes, and which Codecov flags are due for each by the changed paths.
All: auto_reload, bottom_sheet, datalist, ink_widget, mwwm, otp_autofill, relation, render_metrics, surf_logger, surf_utils

codecov.yml:

coverage:
  precision: 2
  round: nearest
  status:
    project:
      default: off
      auto_reload:
        flags: auto_reload
      bottom_sheet:
        flags: bottom_sheet
      datalist:
        flags: datalist
      ink_widget:
        flags: ink_widget
      mwwm:
        flags: mwwm
      otp_autofill:
        flags: otp_autofill
      relation:
        flags: relation
      render_metrics:
        flags: render_metrics
      surf_logger:
        flags: surf_logger
      surf_utils:
        flags: surf_utils

flags:
  auto_reload:
    paths:
      - packages/auto_reload/
    carryforward: true
  bottom_sheet:
    paths:
      - packages/bottom_sheet/
    carryforward: true
  datalist:
    paths:
      - packages/datalist/
    carryforward: true
  ink_widget:
    paths:
      - packages/ink_widget/
    carryforward: true
  mwwm:
    paths:
      - packages/mwwm/
    carryforward: true
  otp_autofill:
    paths:
      - packages/otp_autofill/
    carryforward: true
  relation:
    paths:
      - packages/relation/
    carryforward: true
  render_metrics:
    paths:
      - packages/render_metrics/
    carryforward: true
  surf_logger:
    paths:
      - packages/surf_logger/
    carryforward: true
  surf_utils:
    paths:
      - packages/surf_utils/
    carryforward: true

chore: apply new lint rules
  .github/workflows/publish_to_pub.yaml
  .github/workflows/push_notification.yaml
  .github/workflows/render_metrics.yaml
  .github/workflows/surf_controllers.yaml
  codecov.yml
  packages/push_notification/CHANGELOG.md
  packages/push_notification/example/lib/ui/main_screen.dart
  packages/push_notification/lib/push_notification.dart
  packages/push_notification/lib/src/base/push_handle_strategy_factory.dart
  packages/push_notification/lib/src/notification/notification_controller.dart
  packages/push_notification/pubspec.yaml
  packages/push_notification/test/base/push_handle_strategy_factory_test.dart
  packages/render_metrics/CHANGELOG.md
  packages/render_metrics/example/lib/main.dart
  packages/render_metrics/lib/src/manager/render_parameters_manager.dart
  packages/render_metrics/lib/src/render/render_metrics.dart
  packages/render_metrics/pubspec.yaml
  packages/surf_controllers/CHANGELOG.md
  packages/surf_controllers/example/lib/ui/base/default_message_controller.dart
  packages/surf_controllers/example/lib/ui/base/owners/dialog_owner.dart
  packages/surf_controllers/example/lib/ui/screen/home_screen/home_dialog_owner.dart
  packages/surf_controllers/pubspec.yaml
  packages/surf_logger/CHANGELOG.md
  packages/surf_logger/dart_dependency_validator.yaml
  packages/surf_logger/pubspec.yaml
  packages/surf_logger/test/remote_logger_test.dart
Due: render_metrics, surf_logger

fix prev
  .github/workflows/surf_logger.yaml
Due: none

fix prev
  packages/push_notification/dart_dependency_validator.yaml
Due: none

fix
  .github/workflows/surf_logger.yaml
Due: none

fix
  packages/push_notification/dart_dependency_validator.yaml
  packages/push_notification/example/lib/ui/main_screen.dart
  packages/surf_logger/dart_dependency_validator.yaml
Due: surf_logger

chore: apply new lint rules (#208)
  .github/workflows/publish_to_pub.yaml
  .github/workflows/push_notification.yaml
  .github/workflows/render_metrics.yaml
  .github/workflows/surf_controllers.yaml
  codecov.yml
  packages/push_notification/CHANGELOG.md
  packages/push_notification/dart_dependency_validator.yaml
  packages/push_notification/example/lib/ui/main_screen.dart
  packages/push_notification/lib/push_notification.dart
  packages/push_notification/lib/src/base/push_handle_strategy_factory.dart
  packages/push_notification/lib/src/notification/notification_controller.dart
  packages/push_notification/pubspec.yaml
  packages/push_notification/test/base/push_handle_strategy_factory_test.dart
  packages/render_metrics/CHANGELOG.md
  packages/render_metrics/example/lib/main.dart
  packages/render_metrics/lib/src/manager/render_parameters_manager.dart
  packages/render_metrics/lib/src/render/render_metrics.dart
  packages/render_metrics/pubspec.yaml
  packages/surf_controllers/CHANGELOG.md
  packages/surf_controllers/example/lib/ui/base/default_message_controller.dart
  packages/surf_controllers/example/lib/ui/base/owners/dialog_owner.dart
  packages/surf_controllers/example/lib/ui/screen/home_screen/home_dialog_owner.dart
  packages/surf_controllers/pubspec.yaml
  packages/surf_logger/CHANGELOG.md
  packages/surf_logger/dart_dependency_validator.yaml
  packages/surf_logger/pubspec.yaml
  packages/surf_logger/test/remote_logger_test.dart
Due: render_metrics, surf_logger

🔖 Update push_notification version to 1.0.1-dev.1
  packages/push_notification/CHANGELOG.md
  packages/push_notification/pubspec.yaml
Due: none

🔖 Update render_metrics version to 2.0.1-dev.1
  packages/render_metrics/CHANGELOG.md
  packages/render_metrics/pubspec.yaml
Due: render_metrics

🔖 Update surf_controllers version to 1.0.1-dev.1
  packages/surf_controllers/CHANGELOG.md
  packages/surf_controllers/pubspec.yaml
Due: none

🔖 Update surf_logger version to 1.0.0-dev.1
  packages/surf_logger/CHANGELOG.md
  packages/surf_logger/pubspec.yaml
Due: surf_logger

chore: apply new lint rules
  .github/workflows/surf_mwwm.yaml
  .github/workflows/surf_util.yaml
  .github/workflows/swipe_refresh.yaml
  .github/workflows/tabnavigator.yaml
  .github/workflows/virtual_keyboard.yaml
  packages/surf_mwwm/CHANGELOG.md
  packages/surf_mwwm/dart_dependency_validator.yaml
  packages/surf_mwwm/example/lib/main.dart
  packages/surf_mwwm/example/lib/ui/app/app.dart
  packages/surf_mwwm/example/lib/ui/app/app_wm.dart
  packages/surf_mwwm/example/lib/ui/screen/counter/counter_screen.dart
  packages/surf_mwwm/example/pubspec.yaml
  packages/surf_mwwm/lib/src/extensions/mwwm_extensions.dart
  packages/surf_mwwm/lib/surf_mwwm.dart
  packages/surf_mwwm/pubspec.yaml
  packages/surf_util/CHANGELOG.md
  packages/surf_util/example/lib/main.dart
  packages/surf_util/pubspec.yaml
  packages/swipe_refresh/CHANGELOG.md
  packages/swipe_refresh/example/lib/main.dart
  packages/swipe_refresh/lib/src/cupertino_swipe_refresh.dart
  packages/swipe_refresh/lib/src/material_swipe_refresh.dart
  packages/swipe_refresh/lib/src/swipe_refresh.dart
  packages/swipe_refresh/lib/src/swipe_refresh_base.dart
  packages/swipe_refresh/lib/swipe_refresh.dart
  packages/swipe_refresh/pubspec.yaml
  packages/tabnavigator/CHANGELOG.md
  packages/tabnavigator/example/lib/main.dart
  packages/tabnavigator/lib/src/tab_navigator.dart
  packages/tabnavigator/pubspec.yaml
  packages/tabnavigator/test/tab_navigator_test.dart
  packages/virtual_keyboard/example/lib/main.dart
  packages/virtual_keyboard/lib/src/table_button.dart
  packages/virtual_keyboard/lib/src/virtual_keyboard_key.dart
  packages/virtual_keyboard/lib/src/virtual_keyboard_widget.dart
  packages/virtual_keyboard/lib/virtual_keyboard.dart
  packages/virtual_keyboard/pubspec.yaml
Due: none

fix
  packages/tabnavigator/example/lib/main.dart
Due: none

chore: apply new lint rules (#210)
  .github/workflows/surf_mwwm.yaml
  .github/workflows/surf_util.yaml
  .github/workflows/swipe_refresh.yaml
  .github/workflows/tabnavigator.yaml
  .github/workflows/virtual_keyboard.yaml
  packages/surf_mwwm/CHANGELOG.md
  packages/surf_mwwm/dart_dependency_validator.yaml
  packages/surf_mwwm/example/lib/main.dart
  packages/surf_mwwm/example/lib/ui/app/app.dart
  packages/surf_mwwm/example/lib/ui/app/app_wm.dart
  packages/surf_mwwm/example/lib/ui/screen/counter/counter_screen.dart
  packages/surf_mwwm/example/pubspec.yaml
  packages/surf_mwwm/lib/src/extensions/mwwm_extensions.dart
  packages/surf_mwwm/lib/surf_mwwm.dart
  packages/surf_mwwm/pubspec.yaml
  packages/surf_util/CHANGELOG.md
  packages/surf_util/example/lib/main.dart
  packages/surf_util/pubspec.yaml
  packages/swipe_refresh/CHANGELOG.md
  packages/swipe_refresh/example/lib/main.dart
  packages/swipe_refresh/lib/src/cupertino_swipe_refresh.dart
  packages/swipe_refresh/lib/src/material_swipe_refresh.dart
  packages/swipe_refresh/lib/src/swipe_refresh.dart
  packages/swipe_refresh/lib/src/swipe_refresh_base.dart
  packages/swipe_refresh/lib/swipe_refresh.dart
  packages/swipe_refresh/pubspec.yaml
  packages/tabnavigator/CHANGELOG.md
  packages/tabnavigator/example/lib/main.dart
  packages/tabnavigator/lib/src/tab_navigator.dart
  packages/tabnavigator/pubspec.yaml
  packages/tabnavigator/test/tab_navigator_test.dart
  packages/virtual_keyboard/example/lib/main.dart
  packages/virtual_keyboard/lib/src/table_button.dart
  packages/virtual_keyboard/lib/src/virtual_keyboard_key.dart
  packages/virtual_keyboard/lib/src/virtual_keyboard_widget.dart
  packages/virtual_keyboard/lib/virtual_keyboard.dart
  packages/virtual_keyboard/pubspec.yaml
Due: none

chore: apply new lint rules
  .github/workflows/publish_to_pub.yaml
Due: none

🔖 Update surf_mwwm version to 1.0.1-dev.1
  packages/surf_mwwm/CHANGELOG.md
  packages/surf_mwwm/pubspec.yaml
Due: none

🔖 Update surf_util version to 1.0.0-dev.2
  packages/surf_util/CHANGELOG.md
  packages/surf_util/pubspec.yaml
Due: none

🔖 Update swipe_refresh version to 1.0.1-dev.1
  packages/swipe_refresh/CHANGELOG.md
  packages/swipe_refresh/pubspec.yaml
Due: none

chore: fix cat_facts example
  examples/cat_facts/lib/main.dart
  examples/cat_facts/lib/repository/facts_repository.dart
  examples/cat_facts/lib/storage/app/app_storage.dart
  examples/cat_facts/lib/ui/app/app.dart
  examples/cat_facts/lib/ui/screen/facts/facts_screen.dart
  examples/cat_facts/lib/ui/screen/facts/facts_screen_wm.dart
  examples/cat_facts/pubspec.yaml
Due: none

chore: fix todos example
  examples/todos/lib/ui/navigation/navigation.dart
  examples/todos/lib/ui/screens/add_edit_screen/add_edit_screen.dart
  examples/todos/lib/ui/screens/add_edit_screen/add_edit_screen_wm.dart
  examples/todos/lib/ui/screens/todo_list_screen/todo_list_screen.dart
  examples/todos/lib/ui/widgets/filter_button/filter_button.dart
  examples/todos/lib/ui/widgets/todo_list_item/todo_list_item.dart
  examples/todos/pubspec.yaml
  examples/todos/test/widget_models/add_edit_screen_wm_test.dart
  examples/todos/test/widget_models/todo_list_item_wm_test.dart
Due: none

Apply lint rules (#185)
  examples/cat_facts/lib/main.dart
  examples/cat_facts/lib/repository/facts_repository.dart
  examples/cat_facts/lib/storage/app/app_storage.dart
  examples/cat_facts/lib/ui/app/app.dart
  examples/cat_facts/lib/ui/screen/facts/facts_screen.dart
  examples/cat_facts/lib/ui/screen/facts/facts_screen_wm.dart
  examples/cat_facts/pubspec.yaml
  examples/todos/lib/ui/navigation/navigation.dart
  examples/todos/lib/ui/screens/add_edit_screen/add_edit_screen.dart
  examples/todos/lib/ui/screens/add_edit_screen/add_edit_screen_wm.dart
  examples/todos/lib/ui/screens/todo_list_screen/todo_list_screen.dart
  examples/todos/lib/ui/widgets/filter_button/filter_button.dart
  examples/todos/lib/ui/widgets/todo_list_item/todo_list_item.dart
  examples/todos/pubspec.yaml
  examples/todos/test/widget_models/add_edit_screen_wm_test.dart
  examples/todos/test/widget_models/todo_list_item_wm_test.dart
Due: none

feat: improve cat facts
  examples/cat_facts/lib/data/facts/fact.dart
  examples/cat_facts/lib/data/theme/app_theme.dart
  examples/cat_facts/lib/interactor/api_client.dart
  examples/cat_facts/lib/main.dart
  examples/cat_facts/lib/repository/facts_repository.dart
  examples/cat_facts/lib/storage/app/app_storage.dart
  examples/cat_facts/lib/ui/app/app.dart
  examples/cat_facts/lib/ui/app/app_wm.dart
  examples/cat_facts/lib/ui/screen/facts/facts_screen.dart
  examples/cat_facts/lib/ui/screen/facts/facts_screen_wm.dart
Due: none

feat: improve cat facts (#212)
  examples/cat_facts/lib/data/facts/fact.dart
  examples/cat_facts/lib/data/theme/app_theme.dart
  examples/cat_facts/lib/interactor/api_client.dart
  examples/cat_facts/lib/main.dart
  examples/cat_facts/lib/repository/facts_repository.dart
  examples/cat_facts/lib/storage/app/app_storage.dart
  examples/cat_facts/lib/ui/app/app.dart
  examples/cat_facts/lib/ui/app/app_wm.dart
  examples/cat_facts/lib/ui/screen/facts/facts_screen.dart
  examples/cat_facts/lib/ui/screen/facts/facts_screen_wm.dart
Due: none

improved relation
  packages/relation/README.md
  packages/relation/example/lib/demo_relations.dart
  packages/relation/lib/relation.dart
  packages/relation/lib/src/builder/entity_state_builder.dart
  packages/relation/lib/src/builder/streamed_state_builder.dart
  packages/relation/lib/src/builder/textfield_state_builder.dart
  packages/relation/lib/src/relation/action/actions/scroll_action.dart
  packages/relation/lib/src/relation/action/actions/text_editing_action.dart
  packages/relation/lib/src/relation/action/streamed_action.dart
  packages/relation/lib/src/relation/event.dart
  packages/relation/lib/src/relation/state/entity_state.dart
  packages/relation/lib/src/relation/state/streamed_state.dart
  packages/relation/test/action/actions/scroll_offset_streamed_action_test.dart
  packages/relation/test/action/actions/text_editing_streamed_action_test.dart
  packages/relation/test/action/builder/entity_state_builder_test.dart
  packages/relation/test/action/states/entity_streamed_state_test.dart
  packages/relation/test/action/states/streamed_state_test.dart
  packages/relation/test/action/streamed_action_test.dart
Due: relation

chore: a bit cats example update
  examples/cat_facts/analysis_options.yaml
  examples/cat_facts/lib/storage/app/app_storage.dart
  examples/cat_facts/lib/ui/screen/facts/facts_screen.dart
  examples/cat_facts/pubspec.yaml
Due: none

altered changelog
  packages/relation/CHANGELOG.md
Due: relation

bump dart_code_metrics version
  packages/surf_lint_rules/pubspec.yaml
Due: none

add member-ordering-extended rule
  packages/surf_lint_rules/CHANGELOG.md
  packages/surf_lint_rules/lib/analysis_options.1.2.0.yaml
Due: none

Apply member ordering (#216)
  packages/surf_lint_rules/CHANGELOG.md
  packages/surf_lint_rules/lib/analysis_options.1.2.0.yaml
  packages/surf_lint_rules/pubspec.yaml
Due: none

🔖 Update surf_lint_rules version to 1.1.1-dev.4
  packages/surf_lint_rules/CHANGELOG.md
  packages/surf_lint_rules/pubspec.yaml
Due: none

update CONTRIBUTING
  CONTRIBUTING.md
Due: none

LLC-3045 add optional indicator to material swipe refresh
  packages/swipe_refresh/lib/src/custom_refresh_indicator.dart
  packages/swipe_refresh/lib/src/material_swipe_refresh.dart
Due: none

LLC-3045 bump version
  packages/swipe_refresh/pubspec.yaml
Due: none

LLC-3045 update changelog
  packages/swipe_refresh/CHANGELOG.md
Due: none

remove animation listeners
  packages/bottom_sheet/CHANGELOG.md
  packages/bottom_sheet/lib/src/flexible_bottom_sheet.dart
Due: bottom_sheet

LLC-3045 add fork comment
  packages/swipe_refresh/lib/src/custom_refresh_indicator.dart
Due: none

fix changelog
  packages/relation/CHANGELOG.md
Due: relation

fix changelog again
  packages/relation/CHANGELOG.md
Due: relation

fix changelog again 2
  packages/relation/CHANGELOG.md
Due: relation

update docs and add ignore to use deprecated
  packages/relation/lib/src/relation/action/streamed_action.dart
Due: relation

format
  packages/relation/lib/src/relation/action/actions/scroll_action.dart
  packages/relation/lib/src/relation/action/actions/text_editing_action.dart
  packages/relation/test/action/actions/text_editing_streamed_action_test.dart
Due: relation
