Repository surfstudio/SurfGear: changes, and which Codecov flags are due for each by the changed paths.
All: analytics, auto_reload, bottom_navigation_bar, bottom_sheet, datalist, ink_widget, mwwm, otp_autofill, push_notification, relation, render_metrics, surf_logger, surf_mwwm, surf_utils, swipe_refresh, tabnavigator

format with smaller length
  packages/relation/lib/src/builder/entity_state_builder.dart
  packages/relation/lib/src/builder/streamed_state_builder.dart
  packages/relation/lib/src/builder/textfield_state_builder.dart
  packages/relation/lib/src/relation/action/actions/scroll_action.dart
  packages/relation/lib/src/relation/action/actions/text_editing_action.dart
  packages/relation/lib/src/relation/state/entity_state.dart
  packages/relation/lib/src/relation/state/streamed_state.dart
  packages/relation/test/action/actions/text_editing_streamed_action_test.dart
  packages/relation/test/action/builder/entity_state_builder_test.dart
  packages/relation/test/action/states/entity_streamed_state_test.dart
  packages/relation/test/action/states/streamed_state_test.dart
Due: relation

remove animation listeners (#220)
  packages/bottom_sheet/CHANGELOG.md
  packages/bottom_sheet/lib/src/flexible_bottom_sheet.dart
Due: bottom_sheet

🔖 Update bottom_sheet version to 1.0.1-dev.2
  packages/bottom_sheet/CHANGELOG.md
  packages/bottom_sheet/pubspec.yaml
Due: bottom_sheet

chore: update readmes badges
  .github/workflows/publish_coverage.yaml
  packages/analytics/README.md
  packages/auto_reload/README.md
  packages/bottom_navigation_bar/README.md
  packages/bottom_sheet/README.md
  packages/datalist/README.md
  packages/in_app_rate/README.md
  packages/ink_widget/README.md
  packages/keyboard_listener/README.md
  packages/mwwm/README.md
  packages/otp_autofill/README.md
  packages/push_notification/README.md
  packages/relation/README.md
  packages/render_metrics/README.md
  packages/surf_controllers/README.md
  packages/surf_lint_rules/README.md
  packages/surf_logger/README.md
  packages/surf_mwwm/README.md
  packages/surf_util/README.md
  packages/swipe_refresh/README.md
  packages/tabnavigator/README.md
  packages/virtual_keyboard/README.md
Due: analytics, auto_reload, bottom_navigation_bar, bottom_sheet, datalist, ink_widget, mwwm, otp_autofill, push_notification, relation, render_metrics, surf_logger, surf_mwwm, swipe_refresh, tabnavigator

chore: rename some functions
  tools/ci-cd/bin/ci.dart
  tools/ci-cd/lib/src/changelog.dart
  tools/ci-cd/lib/src/version.dart
  tools/ci-cd/test/changelog_test.dart
  tools/ci-cd/test/version_test.dart
Due: none

chore: rename workflow file
  .github/workflows/publish_to_pub_unstable.yaml
Due: none

feat: introduce getPublicationDate
  tools/ci-cd/lib/src/changelog.dart
  tools/ci-cd/test/changelog_test.dart
Due: none

feat: introduce bumpStablePackageVersion
  tools/ci-cd/lib/src/version.dart
Due: none

wip
  .github/workflows/analytics.yaml
  .github/workflows/auto_reload.yaml
  .github/workflows/bottom_navigation_bar.yaml
  .github/workflows/bottom_sheet.yaml
  .github/workflows/datalist.yaml
  .github/workflows/in_app_rate.yaml
  .github/workflows/ink_widget.yaml
  .github/workflows/keyboard_listener.yaml
  .github/workflows/mwwm.yaml
  .github/workflows/otp_autofill.yaml
  .github/workflows/push_notification.yaml
  .github/workflows/relation.yaml
  .github/workflows/render_metrics.yaml
  .github/workflows/surf_controllers.yaml
  .github/workflows/surf_lint_rules.yaml
  .github/workflows/surf_logger.yaml
  .github/workflows/surf_mwwm.yaml
  .github/workflows/surf_util.yaml
  .github/workflows/swipe_refresh.yaml
  .github/workflows/tabnavigator.yaml
  .github/workflows/virtual_keyboard.yaml
  tools/ci-cd/bin/ci.dart
Due: none

feat: introduce patchStableChangelog
  tools/ci-cd/lib/src/changelog.dart
  tools/ci-cd/test/changelog_test.dart
Due: none

feat: introduce publish-stable-version
  tools/ci-cd/bin/ci.dart
Due: none

introduce: public stable release workflow
  .github/workflows/publish_to_pub_stable.yaml
Due: none

feat: introduce getLatestStableVersion
  tools/ci-cd/lib/src/changelog.dart
  tools/ci-cd/test/changelog_test.dart
Due: none

сi/cd stable (#223)
  .github/workflows/publish_to_pub_stable.yaml
  .github/workflows/publish_to_pub_unstable.yaml
  tools/ci-cd/bin/ci.dart
  tools/ci-cd/lib/src/changelog.dart
  tools/ci-cd/lib/src/version.dart
  tools/ci-cd/test/changelog_test.dart
Due: none

🔖 Update analytics version to 1.0.1
  packages/analytics/CHANGELOG.md
  packages/analytics/pubspec.yaml
Due: analytics

🔖 Update auto_reload version to 1.0.1
  packages/auto_reload/CHANGELOG.md
  packages/auto_reload/pubspec.yaml
Due: auto_reload

🔖 Update bottom_navigation_bar version to 1.0.1
  packages/bottom_navigation_bar/CHANGELOG.md
  packages/bottom_navigation_bar/pubspec.yaml
Due: bottom_navigation_bar

🔖 Update datalist version to 1.0.1
  packages/datalist/CHANGELOG.md
  packages/datalist/pubspec.yaml
Due: datalist

🔖 Update ink_widget version to 2.0.1
  packages/ink_widget/CHANGELOG.md
  packages/ink_widget/pubspec.yaml
Due: ink_widget

🔖 Update mwwm version to 1.1.1
  packages/mwwm/CHANGELOG.md
  packages/mwwm/pubspec.yaml
Due: mwwm

🔖 Update otp_autofill version to 1.0.2
  packages/otp_autofill/CHANGELOG.md
  packages/otp_autofill/pubspec.yaml
Due: otp_autofill

🔖 Update push_notification version to 1.1.0
  packages/push_notification/CHANGELOG.md
  packages/push_notification/pubspec.yaml
Due: push_notification

🔖 Update relation version to 2.0.1
  packages/relation/CHANGELOG.md
  packages/relation/pubspec.yaml
Due: relation

🔖 Update render_metrics version to 2.0.1
  packages/render_metrics/CHANGELOG.md
  packages/render_metrics/pubspec.yaml
Due: render_metrics

🔖 Update surf_controllers version to 1.0.1
  packages/surf_controllers/CHANGELOG.md
  packages/surf_controllers/pubspec.yaml
Due: none

🔖 Update surf_lint_rules version to 1.2.0
  packages/surf_lint_rules/CHANGELOG.md
  packages/surf_lint_rules/pubspec.yaml
Due: none

🔖 Update surf_logger version to 1.0.1
  packages/surf_logger/CHANGELOG.md
  packages/surf_logger/pubspec.yaml
Due: surf_logger

🔖 Update surf_mwwm version to 1.0.1
  packages/surf_mwwm/CHANGELOG.md
  packages/surf_mwwm/pubspec.yaml
Due: surf_mwwm

🔖 Update surf_util version to 1.0.1
  packages/surf_util/CHANGELOG.md
  packages/surf_util/pubspec.yaml
Due: none

🔖 Update swipe_refresh version to 1.0.1
  packages/swipe_refresh/CHANGELOG.md
  packages/swipe_refresh/pubspec.yaml
Due: swipe_refresh

analytics
  .github/workflows/analytics.yaml
Due: none

wip
  .github/workflows/auto_reload.yaml
  .github/workflows/bottom_navigation_bar.yaml
  packages/analytics/CHANGELOG.md
  packages/auto_reload/CHANGELOG.md
  packages/bottom_navigation_bar/CHANGELOG.md
Due: analytics, auto_reload, bottom_navigation_bar

wip
  .github/workflows/analytics.yaml
  .github/workflows/auto_reload.yaml
  .github/workflows/bottom_navigation_bar.yaml
Due: none

LLC-3045 remove redundant import
  packages/swipe_refresh/lib/src/material_swipe_refresh.dart
Due: swipe_refresh

add more deprecation annotations
  packages/relation/lib/src/relation/action/actions/scroll_action.dart
  packages/relation/lib/src/relation/action/actions/text_editing_action.dart
  packages/relation/lib/src/relation/action/streamed_action.dart
Due: relation

LLC-3045 exclude imported file from analysis
  packages/swipe_refresh/analysis_options.yaml
Due: swipe_refresh

LLC-3045 add test to new feature
  packages/swipe_refresh/test/swipe_refresh_material_test.dart
Due: swipe_refresh

ignore linters in test
  packages/relation/test/action/actions/scroll_offset_streamed_action_test.dart
  packages/relation/test/action/actions/text_editing_streamed_action_test.dart
Due: relation

LLC-3045 format
  packages/swipe_refresh/lib/src/custom_refresh_indicator.dart
  packages/swipe_refresh/lib/src/material_swipe_refresh.dart
  packages/swipe_refresh/test/swipe_refresh_material_test.dart
Due: swipe_refresh

Path conditions:
  analytics: any of: packages/analytics/
  auto_reload: any of: packages/auto_reload/
  bottom_navigation_bar: any of: packages/bottom_navigation_bar/
  bottom_sheet: any of: packages/bottom_sheet/
  datalist: any of: packages/datalist/
  ink_widget: any of: packages/ink_widget/
  mwwm: any of: packages/mwwm/
  otp_autofill: any of: packages/otp_autofill/
  push_notification: any of: packages/push_notification/
  relation: any of: packages/relation/
  render_metrics: any of: packages/render_metrics/
  surf_logger: any of: packages/surf_logger/
  surf_mwwm: any of: packages/surf_mwwm/
  surf_utils: any of: packages/surf_utils/
  swipe_refresh: any of: packages/swipe_refresh/
  tabnavigator: any of: packages/tabnavigator/
