Repository surfstudio/SurfGear: changes, and which Codecov flags are due for each by the changed paths.
All: analytics, auto_reload, bottom_navigation_bar, bottom_sheet, datalist, ink_widget, mwwm, otp_autofill, push_notification, relation, render_metrics, surf_logger, surf_mwwm, surf_utils, swipe_refresh, tabnavigator

codecov.yml:

coverage:
  precision: 2
  round: nearest
  status:
    project:
      default: off
      analytics:
        flags: analytics
      auto_reload:
        flags: auto_reload
      bottom_navigation_bar:
        flags: bottom_navigation_bar
      bottom_sheet:
        flags: bottom_sheet
      datalist:
        flags: datalist
      ink_widget:
        flags: ink_widget
      mwwm:
        flags: mwwm
      otp_autofill:
        flags: otp_autofill
      push_notification:
        flags: push_notification
      relation:
        flags: relation
      render_metrics:
        flags: render_metrics
      surf_logger:
        flags: surf_logger
      surf_mwwm:
        flags: surf_mwwm
      surf_utils:
        flags: surf_utils
      swipe_refresh:
        flags: swipe_refresh
      tabnavigator:
        flags: tabnavigator

flags:
  analytics:
    paths:
      - packages/analytics/
    carryforward: true
  auto_reload:
    paths:
      - packages/auto_reload/
    carryforward: true
  bottom_navigation_bar:
    paths:
      - packages/bottom_navigation_bar/
    carryforward: true
  bottom_sheet:
    paths:
      - packages/bottom_sheet/
    carryforward: true
  datalist:
    paths:
      - packages/datalist/
    carryforward: true
  ink_widget:
    paths:
      - packages/ink_widget/
    carryforward: true
  mwwm:
    paths:
      - packages/mwwm/
    carryforward: true
  otp_autofill:
    paths:
      - packages/otp_autofill/
    carryforward: true
  push_notification:
    paths:
      - packages/push_notification/
    carryforward: true
  relation:
    paths:
      - packages/relation/
    carryforward: true
  render_metrics:
    paths:
      - packages/render_metrics/
    carryforward: true
  surf_logger:
    paths:
      - packages/surf_logger/
    carryforward: true
  surf_mwwm:
    paths:
      - packages/surf_mwwm/
    carryforward: true
  surf_utils:
    paths:
      - packages/surf_utils/
    carryforward: true
  swipe_refresh:
    paths:
      - packages/swipe_refresh/
    carryforward: true
  tabnavigator:
    paths:
      - packages/tabnavigator/
    carryforward: true

fix test
  packages/relation/test/action/states/entity_streamed_state_test.dart
Due: relation

format
  packages/relation/test/action/states/entity_streamed_state_test.dart
Due: relation

Relation 3.0 (#192)
  packages/relation/CHANGELOG.md
  packages/relation/README.md
  packages/relation/example/lib/demo_relations.dart
  packages/relation/lib/relation.dart
  packages/relation/lib/src/builder/entity_state_builder.dart
  packages/relation/lib/src/builder/streamed_state_builder.dart
  packages/relation/lib/src/builder/textfield_state_builder.dart
  packages/relation/lib/src/relation/action/action.dart
  packages/relation/lib/src/relation/action/actions/scroll_action.dart
  packages/relation/lib/src/relation/action/actions/text_editing_action.dart
  packages/relation/lib/src/relation/action/streamed_action.dart
  packages/relation/lib/src/relation/event.dart
  packages/relation/lib/src/relation/state/entity_state.dart
  packages/relation/lib/src/relation/state/streamed_state.dart
  packages/relation/pubspec.yaml
  packages/relation/test/action/actions/scroll_offset_streamed_action_test.dart
  packages/relation/test/action/actions/text_editing_streamed_action_test.dart
  packages/relation/test/action/builder/entity_state_builder_test.dart
  packages/relation/test/action/states/entity_streamed_state_test.dart
  packages/relation/test/action/states/streamed_state_test.dart
  packages/relation/test/action/states/text_field_streamed_state_test.dart
  packages/relation/test/action/streamed_action_test.dart
Due: relation

🔖 Update relation version to 4.0.0-dev.1
  packages/relation/CHANGELOG.md
  packages/relation/pubspec.yaml
Due: relation

fix changelog and remove git dependencies
  packages/surf_mwwm/CHANGELOG.md
  packages/surf_mwwm/pubspec.yaml
Due: surf_mwwm

Surf mwwm relation 3 migration (#228)
  packages/surf_mwwm/CHANGELOG.md
  packages/surf_mwwm/example/lib/ui/app/app.dart
  packages/surf_mwwm/example/lib/ui/screen/counter/counter_screen.dart
  packages/surf_mwwm/example/lib/ui/screen/counter/counter_wm.dart
  packages/surf_mwwm/lib/src/extensions/mwwm_extensions.dart
  packages/surf_mwwm/lib/src/mwwm_widget.dart
  packages/surf_mwwm/pubspec.yaml
  packages/surf_mwwm/test/extentions/mwwm_extentions_test.dart
Due: surf_mwwm

🔖 Update surf_mwwm version to 2.0.0-dev.1
  packages/surf_mwwm/CHANGELOG.md
  packages/surf_mwwm/pubspec.yaml
Due: surf_mwwm

chore: switch on `dart_code_metrics` 4.0.0-dev.1
  packages/surf_lint_rules/CHANGELOG.md
  packages/surf_lint_rules/pubspec.yaml
Due: none

chore: switch on `dart_code_metrics` 4.0.0-dev.1 (#232)
  packages/surf_lint_rules/CHANGELOG.md
  packages/surf_lint_rules/pubspec.yaml
Due: none

🔖 Update surf_lint_rules version to 1.2.1-dev.1
  packages/surf_lint_rules/CHANGELOG.md
  packages/surf_lint_rules/pubspec.yaml
Due: none

feat: Add some rules always-remove-listener and avoid-unnecessary-setstate
  packages/surf_lint_rules/CHANGELOG.md
  packages/surf_lint_rules/lib/analysis_options.1.3.0.yaml
  packages/surf_lint_rules/lib/analysis_options.yaml
  packages/surf_lint_rules/pubspec.yaml
Due: none

feat: Add some rules always-remove-listener and avoid-unnecessary-setstate (#237)
  packages/surf_lint_rules/CHANGELOG.md
  packages/surf_lint_rules/lib/analysis_options.1.3.0.yaml
  packages/surf_lint_rules/lib/analysis_options.yaml
  packages/surf_lint_rules/pubspec.yaml
Due: none

🔖 Update mwwm version to 2.0.0
  packages/mwwm/CHANGELOG.md
  packages/mwwm/pubspec.yaml
Due: mwwm

🔖 Update relation version to 3.0.0
  packages/relation/CHANGELOG.md
  packages/relation/pubspec.yaml
Due: relation

🔖 Update surf_lint_rules version to 1.2.1-dev.2
  packages/surf_lint_rules/CHANGELOG.md
  packages/surf_lint_rules/pubspec.yaml
Due: none

🔖 Update surf_mwwm version to 2.0.0
  packages/surf_mwwm/CHANGELOG.md
  packages/surf_mwwm/pubspec.yaml
Due: surf_mwwm

add cache extent property to swipe refresh
  packages/swipe_refresh/lib/src/cupertino_swipe_refresh.dart
  packages/swipe_refresh/lib/src/material_swipe_refresh.dart
  packages/swipe_refresh/lib/src/swipe_refresh.dart
Due: swipe_refresh

update changelog
  packages/swipe_refresh/CHANGELOG.md
Due: swipe_refresh

Update flavors_for_devs.md
  docs/ru/best_practice/flavors/flavors_for_devs.md
Due: none

change OldWidgetState generic type to _ProxyMwwmWidget
  packages/surf_mwwm/lib/src/mwwm_widget.dart
Due: surf_mwwm

alter changelog
  packages/surf_mwwm/CHANGELOG.md
Due: surf_mwwm

alter changelog 2
  packages/surf_mwwm/CHANGELOG.md
Due: surf_mwwm

🔖 Update surf_lint_rules version to 1.3.0
  packages/surf_lint_rules/CHANGELOG.md
  packages/surf_lint_rules/pubspec.yaml
Due: none

Old widget state fix (#243)
  packages/surf_mwwm/CHANGELOG.md
  packages/surf_mwwm/lib/src/mwwm_widget.dart
Due: surf_mwwm

🔖 Update surf_mwwm version to 2.0.1-dev.1
  packages/surf_mwwm/CHANGELOG.md
  packages/surf_mwwm/pubspec.yaml
Due: surf_mwwm

🔖 Update surf_mwwm version to 2.0.1
  packages/surf_mwwm/CHANGELOG.md
  packages/surf_mwwm/pubspec.yaml
Due: surf_mwwm

refactor StreamedStateBuilder to use nullable type depending on specified generic type
  packages/relation/example/lib/demo_relations.dart
  packages/relation/lib/src/builder/entity_state_builder.dart
  packages/relation/lib/src/builder/streamed_state_builder.dart
  packages/relation/lib/src/relation/state/entity_state.dart
  packages/relation/lib/src/relation/state/streamed_state.dart
  packages/relation/test/action/builder/streamed_state_builder_test.dart
  packages/relation/test/builder/entity_state_builder_test.dart
  packages/relation/test/builder/streamed_state_builder_test.dart
  packages/relation/test/builder/textfield_state_builder_test.dart
  packages/relation/test/relation/actions/scroll_offset_streamed_action_test.dart
  packages/relation/test/relation/actions/streamed_action_test.dart
  packages/relation/test/relation/actions/text_editing_streamed_action_test.dart
  packages/relation/test/relation/states/entity_streamed_state_test.dart
  packages/relation/test/relation/states/streamed_state_test.dart
  packages/relation/test/relation/states/text_field_streamed_state_test.dart
  packages/relation/test/test_utils.dart
Due: relation

format
  packages/relation/lib/src/builder/streamed_state_builder.dart
  packages/relation/lib/src/relation/state/entity_state.dart
  packages/relation/lib/src/relation/state/streamed_state.dart
  packages/relation/test/builder/entity_state_builder_test.dart
  packages/relation/test/relation/states/text_field_streamed_state_test.dart
Due: relation

alter changelog
  packages/relation/CHANGELOG.md
Due: relation

SPO-5955 deleted sensitive data
  examples/simple_messenger/android/app/google-services.json
Due: none

SPO-5955 changed dependencies
  examples/simple_messenger/analysis_options.yaml
  examples/simple_messenger/pubspec.yaml
Due: none

SPO-5955 applied new lint rules
  examples/simple_messenger/lib/data/message.dart
  examples/simple_messenger/lib/interactor/message/message_interactor.dart
  examples/simple_messenger/lib/interactor/message/repository/message_repository.dart
  examples/simple_messenger/lib/main.dart
  examples/simple_messenger/lib/ui/screens/choose_name/pick_name_screen.dart
  examples/simple_messenger/lib/ui/screens/choose_name/pick_name_screen_route.dart
  examples/simple_messenger/lib/ui/screens/choose_name/pick_name_screen_wm.dart
  examples/simple_messenger/lib/ui/screens/global_chat/global_chat_screen.dart
  examples/simple_messenger/lib/ui/screens/global_chat/global_chat_screen_route.dart
  examples/simple_messenger/lib/ui/screens/global_chat/global_chat_screen_wm.dart
  examples/simple_messenger/lib/ui/widgets/message_list_item.dart
  examples/simple_messenger/pubspec.yaml
Due: none

review
  packages/relation/example/lib/demo_relations.dart
  packages/relation/test/builder/streamed_state_builder_test.dart
Due: relation

add possibility to add null content to entity streamed state
  packages/relation/lib/src/relation/state/entity_state.dart
  packages/relation/test/action/states/entity_streamed_state_test.dart
Due: relation

remove test groups
  packages/relation/test/builder/streamed_state_builder_test.dart
Due: relation

remove redundant toList casts
  packages/relation/test/action/states/entity_streamed_state_test.dart
Due: relation
